@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  /* PALETA DE COLORES */
  --greenFull2: #151e10;
  --greenFull1: #26371a;
  --greenFull3: #4b613c;
  --greenFull4: #7f965e;
  --greenFull5: #ccdea1;
  /* FONTS */
  --main: "Nunito", serif;
  --second: "Roboto", serif;
}

#login-section {
  width: 98%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 25px;
  border-radius: 5px;
  margin: 20px auto;
  border: 1px solid var(--greenFull1);

  /* * {
    border: 1px solid gold;
  } */
}

.login-container1 {
  font-family: var(--second);
  font-style: italic;
  font-weight: bold;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex-direction: column;
  box-shadow: none;
  padding: 1.5em;
  width: 100%;
  height: 100%;

  h3 {
    font-family: var(--main);
    font-weight: bold;
    font-size: 35px;
    color: var(--greenFull4);
  }

  form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;

    a {
      color: var(--greenFull4);
      font-weight: bold;
      font-size: 17px;
      text-decoration: none;
      transition: 0.5s;
      font-family: var(--second);
      text-align: right;
    }
    a:hover {
      color: var(--greenFull5);
    }

    .third-line-form {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}

.input-type {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-is {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.48);
  border: 1px solid var(--greenFull4);
  border-radius: 3px;
  padding: 0.5em;
  font-size: 1em;
  font-family: var(--second);
  font-weight: 400;
  color: var(--greenFull5);
  text-align: left;
}

.input-is:hover {
}

.input-is:focus {
}

.input-is::select {
  /* border: 1px solid gold; */
}

.input-is::placeholder {
  font-weight: bold;
}

.submit-button {
  width: 100%;
  border-radius: 5px;
  padding: 0;
  background-color: var(--greenFull4);
  color: black;
  transition: 0.5s;
  padding: 10px 5px;
}

.submit-button:hover {
  background-color: var(--greenFull5);
}

/* @keyframes backglitch {
  0% {
    box-shadow: inset 0px 20px 20px 30px #212121;
  }

  50% {
    box-shadow: inset 0px -20px 20px 30px hsl(297, 42%, 10%);
  }

  to {
    box-shadow: inset 0px 20px 20px 30px #212121;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translate(-50%, 20%);
  }

  50% {
    transform: rotate(180deg) translate(40%, 10%);
  }

  to {
    transform: rotate(360deg) translate(-50%, 20%);
  }
}

@keyframes blinkShadowsFilter {
  0% {
    filter: drop-shadow(46px 36px 28px rgba(39, 195, 159, 0.3411764706))
      drop-shadow(-55px -40px 28px #0a6207);
  }

  25% {
    filter: drop-shadow(46px -36px 24px rgba(39, 195, 159, 0.8980392157))
      drop-shadow(-55px 40px 24px #0a6207);
  }

  50% {
    filter: drop-shadow(46px 36px 30px rgba(39, 195, 159, 0.8980392157))
      drop-shadow(-55px 40px 30px rgba(10, 98, 7, 0.2941176471));
  }

  75% {
    filter: drop-shadow(20px -18px 25px rgba(39, 195, 159, 0.8980392157))
      drop-shadow(-20px 20px 25px rgba(10, 98, 7, 0.2941176471));
  }

  to {
    filter: drop-shadow(46px 36px 28px rgba(39, 195, 159, 0.3411764706))
      drop-shadow(-55px -40px 28px #0a6207);
  }
} */

.login-container2 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  background-color: var(--greenFull4);
  /* box-shadow: 1px 1px 5px var(--greenFull5); */
  /* background: rgb(204, 222, 161);
  background: linear-gradient(
    90deg,
    rgba(204, 222, 161, 1) 0%,
    rgba(75, 97, 60, 1) 9%,
    rgba(127, 150, 94, 1) 20%,
    rgba(204, 222, 161, 1) 32%,
    rgba(75, 97, 60, 1) 46%,
    rgba(127, 150, 94, 1) 61%,
    rgba(204, 222, 161, 1) 74%,
    rgba(75, 97, 60, 1) 88%,
    rgba(204, 222, 161, 1) 100%
  ); */
  /* background-color: var(--greenFull5); */
  img {
    width: 300px;
  }

  h1 {
    font-weight: 4rem;
    font-weight: bold;
    font-family: var(--main);
    color: var(--greenFull2);
    background: linear-gradient(
      90deg,
      var(--greenFull5),
      var(--greenFull2),
      var(--greenFull1)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
