@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  /* PALETA DE COLORES */
  --greenFull1: #9df01a;
  --greenFull2: #70e000;
  --greenFull3: #38b000;
  /* FONTS */
  --main: "Nunito", serif;
  --second: "Roboto", serif;
}

#login-section {
  position: fixed;
  z-index: 2001;
  top: 0;
  width: 100%;
  height: 100vh;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 25px;
  border-radius: 5px;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(0, 0, 0, 0);
  /* border: 1px solid red;
  * {
    border: 1px solid gold;
  } */

  .third-line {
    display: flex;
    gap: 10px;
    p {
      text-align: center;
      font-weight: bold;
    }

    a {
      font-weight: bold;
      color: var(--greenFull3);
      transition: 0.3s;
    }

    a:hover {
      transition: 0.3s;
      color: var(--greenFull3);
    }
  }
}

#close-modal-login {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

form {
  /* border: 1px solid var(--greenFull4); */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 450px;
  position: relative;
  padding: 35px 25px;

  h3 {
    font-family: var(--main);
    font-weight: bold;
    font-size: 35px;
    color: white;
    margin-bottom: 25px;
  }
}

#label-login {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

#icon-login-password {
  cursor: pointer;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}
#icon-login-password:hover {
  color: var(--green3);
}

.input-type {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-is {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.48);
  border: 1px solid var(--greenFull4);
  border-radius: 3px;
  padding: 0.5em;
  font-size: 1em;
  font-family: var(--second);
  font-weight: bold;
  color: white;
  text-align: left;
}

.input-is::placeholder {
  color: white;
  font-weight: 300;
}

.submit-button {
  border: none;
  width: 100%;
  border-radius: 5px;
  padding: 0;
  background-color: white;
  color: black;
  transition: 0.5s;
  padding: 10px 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: var(--main);

  img {
    width: 25px;
  }
}

.submit-button:hover {
  background-color: var(--greenFull4);
}

.login-container2 {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  background-color: var(--greenFull4);

  img {
    width: 300px;
  }

  h1 {
    font-weight: 4rem;
    font-weight: bold;
    font-family: var(--main);
    color: black;
  }
}
