@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  /* PALETA DE COLORES */
  --greenFull2: #151e10;
  --greenFull1: #26371a;
  --greenFull3: #4b613c;
  --greenFull4: #7f965e;
  --greenFull5: #ccdea1;
  /* FONTS */
  --main: "Nunito", serif;
  --second: "Roboto", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a {
    text-decoration: none;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: black;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--greenFull2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--greenFull4);
  }

  section {
    width: 100%;
  }
}

body {
  background-color: black;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  margin: 0;
  padding-top: 70px;
  overflow-y: auto;
  font-family: var(--second);
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  /* border: 1px solid red; */
}

/* NAVBAR */
nav {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  /* background-color: var(--greenFull1); */
  /* background-color: black; */
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid var(--greenFull4);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1999;

  .link-logo {
    transition: 0.8s;
  }
  .link-logo:hover {
    filter: drop-shadow(1px 1px 5px var(--greenFull5));
  }
}

.nav-links {
  display: flex;
  margin-right: 25px;
  gap: 10px;
  padding-bottom: 4px;
}

.nav-links > a {
  text-decoration: none;
  color: white;
  font-family: var(--main);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 25px;
}

.nav-links > a:hover {
  color: var(--greenFull5);
}

.nav-links > span {
  color: white;
  font-family: var(--main);
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 25px;
  cursor: pointer;
}

.nav-links > span:nth-child(2) {
  color: white;
  background-color: var(--greenFull1);
  border: 1px solid var(--greenFull3);
}

.nav-links > span:nth-child(2):hover {
  border: 1px solid var(--greenFull5);
}

.nav-links > span:nth-child(3) {
  color: var(--greenFull4);
}

.nav-links > span:nth-child(3):hover {
  color: white;
}

/* NAVBAR */

/* HERO SECTION */
.hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 10px;
  /* * {
    border: 1px solid red;
  } */
  div {
    margin-top: 100px;
    width: 80%;
    h1 {
      font-family: var(--main);
      font-weight: bold;
      font-size: 65px;
      text-align: right;
      color: var(--greenFull5);
      background: linear-gradient(
        90deg,
        var(--greenFull3),
        var(--greenFull4),
        white
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    h3 {
      text-align: right;
      color: white;
      font-family: var(--second);
      font-weight: bold;
      font-size: 40px;
      font-weight: 200;
    }
  }
  a {
    margin-top: 45px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--greenFull5);
    color: black;
    font-family: var(--main);
    transition: 0.2s;
    font-weight: bold;
  }

  a:hover {
    transition: 0.6s;
    background-color: white;
  }
}

/* HERO SECTION */
/* BENEFITS SECTION */

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 10px;
  min-height: 100vh;
  max-width: 80vw;
  margin: 0 auto;
  p {
    font-family: var(--main);
    font-size: 30px;
    font-weight: bold;
    color: var(--greenFull5);
    text-align: center;
  }

  span {
    font-family: var(--second);
    font-size: 20px;
    color: var(--greenFull5);
    text-align: center;
    font-weight: 300;
  }

  .cards-benefits-container {
    display: flex;
    gap: 20px;

    .card-benefit {
      padding: 15px;
      border-radius: 5px;
      background: var(--greenFull5);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      box-shadow: 1px 1px 10px 2px var(--greenFull3);
      * {
        border: 1px solid var(--greenFull5);
      }
      img {
        width: 100px;
        margin-bottom: 15px;
      }
      h3 {
        font-family: var(--main);
        font-size: 25px;
        color: black;
        text-align: center;
      }
      p {
        font-family: var(--second);
        font-size: 20px;
        color: var(--greenFull1);
        text-align: center;
        font-weight: 200;
      }
    }
  }
}

/* BENEFITS SECTION */

/* Mensajes de alerta centrados */
/* Mensajes de alerta centrados y personalizados */
.alert-center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  display: none;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 80%;
  max-width: 300px;
  font-size: 1.1rem;
  opacity: 0;
}

.alert-danger {
  background-color: #dc3545;
  color: #ffffff;
}

.alert-success {
  background-color: #28a745;
  color: #ffffff;
}

.alert.show {
  display: block;
  animation: fadeIn 0.5s forwards, fadeOut 0.5s forwards 2.5s; /* Aparecer y desaparecer */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Animación de desvanecimiento */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tab-pane {
  animation: fadeIn 0.5s ease-in-out;
}

.btn-custom {
  background-color: #007bff;
  color: #ffffff;
}

.btn-custom:hover {
  background-color: #0056b3;
}

/* DASHBOARD APP*/
#dashboard-section {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100%;
  overflow-y: scroll;
  position: relative;
}
/* CONTAINER DE APP Y CONTENIDO ITERABLE */
#container-app {
  transition-duration: 0.4s;
  width: 100%;

  /* border: 1px solid gold;
  *{border:1px solid green;} */
}
/* CONTAINER DE APP Y CONTENIDO ITERABLE */

#upload-script,
#your-videos,
#config,
#scriptSection,
#imagesSection,
#videoSection {
  display: none;
}

.open-content {
  display: flex;
}

/* BARRA DE CONTROL LATERAL */
#aside-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  backdrop-filter: blur(25px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(200%);
  background-color: rgba(255, 255, 255, 0);  border-right: 1px solid var(--greenFull4);
  border-top: 1px solid var(--greenFull4);
  border-bottom: 1px solid var(--greenFull4);
  color: white;
  height: 100vh;
  top: 74px;
  z-index: 1000;
  /* border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; */
  padding: 0 10px;
  width: 300px;
  transition-duration: 0.4s;
  position: fixed;
}

.open-aside {
  transition-duration: 1s all;
  right: -5px;
}

.close-aside {
  right: -300px;
  transition-duration: 1s all;
}

.control-container-open {
  /* * {
    border: 1px solid gold;
  } */
  transition-duration: 0.4s;
  width: calc(100vw - 300px);
  float: right;
}

.control-container-close {
  width: 90vw;
  transition-duration: 0.4s;
}

#control-aside {
  position: absolute;
  top: -24px;
  left: -60px;
  color: var(--greenFull4);
  font-size: 25px;
  cursor: pointer;
  padding: 30px;
  z-index: 2000;
}

#control-aside:hover {
  color: var(--greenFull5);
}

.logo-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;

  h1 {
    font-family: var(--main);
    font-size: 2rem;
    color: var(--greenFull5);
    font-weight: bold;
  }

  img {
    width: 60px;
  }
}

/* BARRA DE CONTROL LATERAL */
.minutes-info {
  display: flex;
  justify-content: space-between;
  background-color: var(--greenFull4);
  color: #ffffff;
  border: 2px solid;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  margin-top: 20px;

  border: 1px solid gold;
  * {
    border: 1px solid gold;
  }
}

.button-tab {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--greenFull5);
  color: white;
  font-family: var(--main);
  transition: 0.2s;
  font-weight: bold;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid var(--greenFull5);
  width: 100%;
  margin-top: 20px;
  position: relative;
}

.button-tab:hover {
  background-color: var(--greenFull5);
  color: black;
}

#icon-content-buttons-aside {
  position: absolute;
  left: 10px;
}

.buttons-content {
  width: 100%;
}

#dashboard-content-generator {
  background-color: transparent;
}

.form-user-dashboard {
  background-color: transparent;
  width: 100%;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* *{border: 1px solid red;} */
}

.label-user-dashboard {
  font-family: var(--main);
  color: var(--greenFull5);
  font-weight: bold;
  font-size: 25px;
}

.input-user-dashboard {
  padding: 10px 5px;
  background-color: transparent;
  border: 1px solid var(--greenFull4);
  font-family: var(--second);
  color: white;
  border-radius: 4px;
}

.input-user-dashboard:focus {
  border: 1px solid var(--greenFull5);
}

.select-user-dashboard {
  padding: 5px 2px;
  background-color: transparent;
  border: 1px solid var(--greenFull4);
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  font-size: 15px;
}

.select-user-dashboard option {
  background-color: var(--greenFull4);
  font-family: var(--second);
  color: black;
  font-weight: bold;
}

.select-user-dashboard:focus {
  border: 1px solid var(--greenFull5);
}

.input-suggestions {
  display: flex;
  gap: 15px;
}

.dashboard-content-forms {
  width: 100%;
}

.form-user-dashboard {
  width: 100%;
}

.block-form {
  /* border-bottom: 1px solid red; */
  padding: 0 0 12px 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

input[type="file"][webkitdirectory]::file-selector-button {
  background-color: var(--greenFull5);
  color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  border: none;
  font-family: var(--second);
}

input[type="file"][webkitdirectory]:hover::file-selector-button {
  background-color: var(--greenFull3);
  border: none;
}

/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/

.card {
  background-color: #2b2b2b;
  border: none;
}

.card .card-body {
  padding: 10px;
}

.card .btn-danger {
  background-color: #dc3545;
  border: none;
}

.card .btn-danger:hover {
  background-color: #c82333;
}

/*pantalla de carga*/
.center-body {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.loader-circle-9 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 90px;
  font-family: sans-serif;
  font-size: 12px;
  color: #00eaff;
  text-transform: uppercase;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.loader-circle-9:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #0db823;
  border-right: 3px solid #0db823;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}
.loader-circle-9 span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.loader-circle-9 span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0db823;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #0db823;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

/*alerta*/
.alert {
  display: none;
}

.alert.show {
  display: block;
}

.suggestion-item {
  background-color: #343a40;
  color: #ffffff;
  padding: 5px;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;
}

/* Sugerencia cuando se pasa el cursor */
.suggestion-item:hover {
  border: 2px solid;
  border-image: linear-gradient(45deg, #87f414, #0a6207, #0b340f, #07141a) 1;
  color: #ffffff;
}

/* Estilos para la pestaña activa con animación de gradiente */
.active {
  background-color: var(--greenFull5);
  color: black;
}

/* Estilos para el chatbot */
/* Contenedor del chatbot */
.chatbot-container {
  position: fixed;
  bottom: 0;
  right: 20px;
  width: 300px;
  height: 475px;
  border: 2px solid;
  border-image: linear-gradient(45deg, #87f414, #0a6207, #0b340f, #07141a) 1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #0e1211;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  color: #ffffff;
  animation: borderAnimation 5s infinite;
  display: none;
}

/* Encabezado del chatbot */
.chatbot-header {
  padding: 10px;
  background-color: #15251d;
  color: white;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid;
  border-image: linear-gradient(45deg, #87f414, #0a6207, #0b340f, #07141a) 1;
}

/* Preguntas del chatbot */
.chatbot-questions {
  padding: 0px;
  border-bottom: 1px solid #ccc;
}

.chatbot-questions button {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  background-color: #0e1211;
  color: #ffffff;
  transition: border 0.5s;
}

.chatbot-questions button:hover {
  border: 2px solid;
  border-image: linear-gradient(45deg, #87f414, #0a6207, #0b340f, #07141a) 1;
}

/* Mensajes del chatbot */
.chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  max-height: calc(100% - 120px);
  color: #ffffff;
  word-wrap: break-word;
}

/* Entrada del chatbot */
.chatbot-input {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chatbot-input input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  color: #000; /* Color del texto dentro del chat */
}

.chatbot-input button {
  padding: 5px 10px;
  border: 2px solid;
  border-image: linear-gradient(45deg, #87f414, #0a6207, #0b340f, #07141a) 1;
  background-color: #0b340f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: border 0.5s;
}

.chatbot-input button:hover {
  border-image: linear-gradient(135deg, #07141a, #0b340f, #0a6207, #87f414) 1;
}

/* Botón de toggle del chatbot */
/* Icono del chatbot */
.chatbot-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #15251d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bounce 2s infinite;
  transition: transform 0.3s;
}

.chatbot-toggle img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* Animación de movimiento */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Efecto hover para mejorar la experiencia de usuario */
.chatbot-toggle:hover {
  transform: scale(1.1);
}

.suggestion-item {
  cursor: pointer;
  padding: 5px;
  border: 2px solid transparent;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #0e1211;
  color: #ffffff;
  transition: border 0.5s;
}

.suggestion-item:hover {
  border: 2px solid;
  border-image: linear-gradient(45deg, #87f414, #0a6207, #0b340f, #07141a) 1;
  background-color: #07141a;
}

/* Animación del borde */
@keyframes borderAnimation {
  0% {
    border-image-source: linear-gradient(
      45deg,
      #87f414,
      #0a6207,
      #0b340f,
      #07141a
    );
  }
  50% {
    border-image-source: linear-gradient(
      135deg,
      #07141a,
      #0b340f,
      #0a6207,
      #87f414
    );
  }
  100% {
    border-image-source: linear-gradient(
      45deg,
      #87f414,
      #0a6207,
      #0b340f,
      #07141a
    );
  }
}

/* mensaje de usuario o contraseña incorrecta*/
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

/*botones de ejecucion*/

.d-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clip {
  --color: #2761c3;
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: 5px double var(--color);
  box-shadow: inset 0px 0px 15px #195480;
  -webkit-clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

.arrow {
  position: absolute;
  transition: 0.2s;
  background-color: #2761c3;
  top: 35%;
  width: 11%;
  height: 30%;
}

#leftArrow {
  left: -13.5%;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 50%);
}

#rightArrow {
  -webkit-clip-path: polygon(100% 49%, 0 0, 0 100%);
  left: 102%;
}

button:hover #rightArrow {
  background-color: #23aa23;
  left: -15%;
  animation: 0.6s ease-in-out both infinite alternate rightArrow8;
}

button:hover #leftArrow {
  background-color: #044e0a;
  left: 103%;
  animation: 0.6s ease-in-out both infinite alternate leftArrow8;
}

.corner {
  position: absolute;
  width: 4em;
  height: 4em;
  background-color: #2761c3;
  box-shadow: inset 1px 1px 8px #2781c3;
  transform: scale(1) rotate(45deg);
  transition: 0.2s;
}

#rightTop {
  top: -1.98em;
  left: 91%;
}

#leftTop {
  top: -1.96em;
  left: -3em;
}

#leftBottom {
  top: 2.1em;
  left: -2.15em;
}

#rightBottom {
  top: 45%;
  left: 88%;
}

button:hover #leftTop {
  animation: 0.1s ease-in-out 0.05s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

button:hover #rightTop {
  animation: 0.1s ease-in-out 0.15s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

button:hover #rightBottom {
  animation: 0.1s ease-in-out 0.25s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

button:hover #leftBottom {
  animation: 0.1s ease-in-out 0.35s both changeColor8,
    0.2s linear 0.4s both lightEffect8;
}

button:hover .corner {
  transform: scale(1.25) rotate(45deg);
}

button:hover #clip {
  animation: 0.2s ease-in-out 0.55s both greenLight8;
  --color: #27c39f;
}

@keyframes changeColor8 {
  from {
    background-color: #2781c3;
  }
  to {
    background-color: #27c39f;
  }
}

@keyframes lightEffect8 {
  from {
    box-shadow: 1px 1px 5px #27c39f;
  }
  to {
    box-shadow: 0 0 2px #27c39f;
  }
}

@keyframes greenLight8 {
  from {
  }
  to {
    box-shadow: inset 0px 0px 32px #27c39f;
  }
}

@keyframes leftArrow8 {
  from {
    transform: translate(0px);
  }
  to {
    transform: translateX(10px);
  }
}

@keyframes rightArrow8 {
  from {
    transform: translate(0px);
  }
  to {
    transform: translateX(-10px);
  }
}

/*BOTON DE AGREGAR*/
/* Estilos para los nuevos botones */
.btn-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  overflow: hidden;
  height: 2.5rem;
  background-size: 300% 300%;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  border: double 4px transparent;
  background-image: linear-gradient(#000a03, #000a03),
    linear-gradient(
      137.48deg,
      #30833b 10%,
      #0a6207 45%,
      #87f414 67%,
      #0b340f 87%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
  position: relative;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

#glow {
  position: absolute;
  display: flex;
  width: 12rem;
}

.circle {
  width: 100%;
  height: 30px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

.circle:nth-of-type(1) {
  background: rgba(9, 124, 5, 0.636);
}

.circle:nth-of-type(2) {
  background: rgba(142, 81, 234, 0.704);
}

.btn-custom:hover #container-stars {
  z-index: 1;
  background-color: #212121;
}

.btn-custom:hover {
  transform: scale(1.1);
}

.btn-custom:active {
  border: double 4px #1c0438;
  background-origin: border-box;
  background-clip: content-box, border-box;
  animation: none;
}

.btn-custom:active .circle {
  background: #1c0438;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-image: radial-gradient(#ffffff 1px, transparent 1%);
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(0.75);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/*BOTONES SIMPLES*/
.btn-outline-secondary {
  border: none;
  width: 13em;
  height: 3em;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: var(--greenFull1);
  cursor: pointer;
  transition: all 450ms ease-in-out;
}

.sparkle {
  fill: #aaaaaa;
  transition: all 800ms ease;
}

.text {
  font-weight: 600;
  color: #d4d4d4;
  font-size: medium;
}

.btn:hover .text {
  color: white;
}

.btn:hover .sparkle {
  fill: white;
  transform: scale(1.1);
}

/* Organizar elementos en dos columnas */
/* Animaciones para desplegables */

/* Animaciones adicionales */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tab-pane {
  animation: fadeIn 0.5s ease-in-out;
}

/* El contenedor donde se añaden los planes */
/* El overlay */
.panel-upgrade {
  /* border: 1px solid gold;
  * {
    border: 1px solid gold;
  } */

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(255, 255, 255, 0);
  z-index: 9999;
  display: flex;
  align-items: center;
  overflow-y: scroll;
}

/* Deja que el contenido se ajuste a su ancho */
.panel-upgrade-content {
  display: block;
  max-width: 90%;
  margin: 0px auto;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;

  background: transparent;
  .title-upgrade-panel {
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--greenFull5);
    font-weight: bold;
    font-size: 2rem;
    font-family: var(--main);
  }
  .close-panel {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
    background: transparent;
    transition: 0.6s;
    width: 40px;
    font-size: 25px;
    color: white;
    border: none;
    cursor: pointer;
  }

  .close-panel:hover {
    transition: 0.6s;
    transform: scale(1.2);
  }
}

/* El contenedor donde se añaden los planes */
#plansContainer {
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;

  /* Estilo del track (fondo de la scrollbar) */
  #plansContainer::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del track */
  }

  /* Estilo del thumb (parte que se mueve) */
  #plansContainer::-webkit-scrollbar-thumb {
    background: #888; /* Color del thumb */
    border-radius: 6px; /* Bordes redondeados */
  }

  /* Estilo del thumb al pasar el mouse */
  #plansContainer::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color del thumb al pasar el mouse */
  }
}

/* Cada tarjeta (plan) */
.plan-item {
  border: 2px solid var(--greenFull5);
  border-radius: 8px;
  background-color: black;
  padding: 15px;
  color: #ffffff;
  animation: fadeIn 0.5s ease-in-out;

  /* * {
    border: 1px solid red;
  } */
}

.plan-item h3 {
  margin: 0;
  font-size: 1.8rem;
  color: var(--greenFull4);
  font-family: var(--main);
  font-weight: bold;
}

.plan-item > p {
  color: var(--greenFull5);
  font-family: var(--second);
  font-size: 20px;
}

.plan-item > p:nth-child(3) {
  font-size: 1.2rem;
  font-weight: 200;
  font-family: var(--second);
  color: var(--greenFull5);
  padding: 0;
}

.plan-item button {
  background-color: var(--greenFull4);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  color: black;
}

.plan-item button:hover {
  background-color: var(--greenFull5);
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Versión móvil: las tarjetas se apilan */
@media (max-width: 768px) {
  #plansContainer {
    flex-direction: column;
    align-items: center;
  }
  .plan-item {
    flex: 0 0 auto;
    width: 80%;
    margin-bottom: 20px;
  }
}

/*boton de upgrade*/
.btn-upgrade {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  background-image: linear-gradient(
    45deg,
    var(--greenFull3),
    var(--greenFull4),
    var(--greenFull5)
  );
  background-size: 300% 300%;
  animation: gradient_301 5s ease infinite;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.3s all;
  font-weight: bold;
  margin-left: 10px;
}

/* Al pasar el mouse */
.btn-upgrade:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(135, 244, 20, 0.7);
}

/* Animación del gradiente */
@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*cancelar plan*/
/* Panel de confirmación overlay */
.panel-cancel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
  display: none;
  align-items: center;
  justify-content: center;
}

/* Contenido interno (caja negra) */
.panel-cancel-content {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 50%;
  padding: 20px;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: var(--main);
  text-align: center;
  border: 2px solid var(--greenFull4);
}

.panel-cancel-content > h2 {
  color: var(--greenFull3);
  font-family: var(--main);
}

/* Botones específicos */

.cancel-buttons-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 15px;
}

.cancel-buttons-div > button {
  padding: 10px 15px;
  color: black;
  border: none;
  font-family: var(--second);
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.btn-cancel {
  background-color: var(--greenFull5);
}

.btn-cancel:hover {
  background-color: var(--greenFull4);
}

.btn-confirm {
  background-color: red;
}

.btn-confirm:hover {
  background-color: rgb(255, 86, 86);
}
