{% extends "main/base.html" %} {% load static %} {% block title %}Generador de
Videos IA{% endblock %} {% block content %}
<div id="errorMessage" class="alert alert-danger" role="alert"></div>

<section id="dashboard-section">
  <!-- Contenedor de botones para controlar seccion de generacion de contenido -->
  <aside id="aside-buttons" class="open-aside" role="tablist">
    <div class="logo-dashboard-container">
      <img src="{% static 'img/clipgen.ai logo.png' %}" alt="Logo de Clipgen" />
      <h1>Clipgen Ai</h1>
    </div>
    <div class="buttons-content">
      <button class="button-tab" id="generate-script-tab">
        <span id="icon-content-buttons-aside"
          ><i class="fa-solid fa-circle-play"></i></span
        >Generar Guion
      </button>
      <button class="button-tab" id="upload-script-tab">
        <span id="icon-content-buttons-aside">
          <i class="fa-solid fa-i-cursor"></i></span
        >Ingresar Guion
      </button>
      <button class="button-tab" id="your-videos-tab">
        <span id="icon-content-buttons-aside"
          ><i class="fa-solid fa-video"></i></span
        >Tus Videos
      </button>
      <button class="button-tab" id="config-tab">
        <span id="icon-content-buttons-aside"
          ><i class="fa-solid fa-gear"></i
        ></span>
        Configuración
      </button>
    </div>
    <span id="control-aside"><i class="fa-regular fa-circle-xmark"></i></span>
  </aside>
  <!-- Contenedor de botones para controlar seccion de generacion de contenido -->

  <div id="container-app">
    <!-- Paneles oculto al iniciar -->
    <div id="upgradePanel" class="panel-upgrade" style="display: none">
      <div class="panel-upgrade-content">
        <p class="title-upgrade-panel">Selecciona tu Plan</p>
        <button class="close-panel" onclick="hideUpgradePanel()">
          <i class="fa-solid fa-xmark"></i>
        </button>

        <div id="plansContainer">
          <div class="plan-item">
            <h3>Plan Starter</h3>
            <p><strong>$29.99/mes </strong></p>
            <p>
              80 minutos acumulables: Los minutos no utilizados se acumulan mes
              a mes. Acceso gratuito a ClipgenVoices. Hasta 3 videos simultáneos
              de máx. 20 min. Acceso completo a todas las funciones. Uso de
              ElevenLabs integrado con tu propia API.
            </p>
            <p><strong>Minutos incluidos:</strong> 80</p>
            <button class="btn-subscription" style="margin-top: 10px">
              Suscribirme
            </button>
          </div>

          <div class="plan-item">
            <h3>Plan Creator</h3>
            <p><strong>$49.99/mes </strong></p>
            <p>
              200 minutos acumulables, misma política de acumulación. Incluye
              todo lo del Plan Starter. Mayor tiempo disponible para crear
              contenido.
            </p>
            <p><strong>Minutos incluidos:</strong> 200</p>
            <button class="btn-subscription" style="margin-top: 10px">
              Suscribirme
            </button>
          </div>

          <div class="plan-item">
            <h3>Plan Creator Pro</h3>
            <p><strong>$99.99/mes </strong></p>
            <p>
              500 minutos acumulables, ideales para uso intensivo. Incluye todo
              lo del Plan Creator. Perfecto para creadores que necesitan
              maximizar su producción.
            </p>
            <p><strong>Minutos incluidos:</strong> 500</p>
            <button class="btn-subscription" style="margin-top: 10px">
              Suscribirme
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      id="cancelPanel"
      class="panel-cancel animate__animated animate__fadeIn"
    >
      <div class="panel-cancel-content">
        <h2>¿Cancelar Suscripción?</h2>
        <p>¿Estás seguro de que deseas cancelar tu plan actual?</p>
        <div class="cancel-buttons-div">
          <button class="btn-confirm" onclick="confirmCancelPlan()">
            Sí, cancelar.
          </button>
          <button class="btn-cancel" onclick="hideCancelPanel()">
            No, volver.
          </button>
        </div>
      </div>
    </div>
    <!-- Paneles oculto al iniciar -->

    <div class="control-container-open" id="dashboard-content-generator">
      <div class="dashboard-content-forms" id="generate-script">
        <form class="form-user-dashboard" id="generateForm">
          <div class="block-form">
            <label for="inputTitle" class="label-user-dashboard"
              >Título del Video</label
            >
            <div class="input-suggestions">
              <input
                type="text"
                class="input-user-dashboard"
                id="inputTitle"
                placeholder="Introduce un título"
              />
              <button
                class="btn btn-outline-secondary"
                type="button"
                onclick="suggestTitles()"
              >
                <svg
                  height="24"
                  width="24"
                  fill="#FFFFFF"
                  viewBox="0 0 24 24"
                  data-name="Layer 1"
                  id="Layer_1"
                  class="sparkle"
                >
                  <path
                    d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"
                  ></path>
                </svg>
                <span class="text">Sugerir Títulos</span>
              </button>
            </div>
            <div id="titleSuggestions"></div>
          </div>
          <div class="block-form">
            <label for="videoCount" class="label-user-dashboard"
              >Número de Videos a Generar</label
            >
            <select class="select-user-dashboard" id="videoCount">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="block-form">
            <div class="block-form">
              <label for="inputVoiceType" class="label-user-dashboard"
                >Tipo de Voz</label
              >
              <select class="select-user-dashboard" id="inputVoiceType">
                <option value="openai">OpenAI</option>
                <option value="elevenlabs">ElevenLabs</option>
                <option value="clipgenvoices">ClipgenVoices</option>
              </select>
            </div>
            <div class="block-form">
              <label for="inputLanguage" class="label-user-dashboard"
                >Idioma</label
              >
              <select class="select-user-dashboard" id="inputLanguage">
                <option value="es">Español</option>
                <option value="en">Inglés</option>
                <option value="fr">Francés</option>
                <option value="de">Alemán</option>
                <option value="it">Italiano</option>
                <option value="pt">Portugués</option>
                <option value="ru">Ruso</option>
                <option value="zh">Chino</option>
                <option value="ja">Japonés</option>
                <option value="ko">Coreano</option>
                <option value="ar">Árabe</option>
                <option value="hi">Hindi</option>
                <option value="tr">Turco</option>
                <option value="nl">Neerlandés</option>
                <option value="sv">Sueco</option>
                <option value="pl">Polaco</option>
                <option value="da">Danés</option>
                <option value="fi">Finés</option>
                <option value="no">Noruego</option>
                <option value="el">Griego</option>
                <option value="he">Hebreo</option>
                <option value="hu">Húngaro</option>
                <option value="cs">Checo</option>
                <option value="ro">Rumano</option>
                <option value="bg">Búlgaro</option>
                <option value="uk">Ucraniano</option>
                <option value="vi">Vietnamita</option>
                <option value="th">Tailandés</option>
                <option value="ms">Malayo</option>
                <option value="id">Indonesio</option>
                <option value="tl">Tagalo</option>
                <option value="bn">Bengalí</option>
                <option value="fa">Persa</option>
                <option value="ur">Urdu</option>
                <option value="et">Estonio</option>
                <option value="lv">Letón</option>
                <option value="lt">Lituano</option>
                <option value="sk">Eslovaco</option>
                <option value="sl">Esloveno</option>
                <option value="sr">Serbio</option>
                <option value="hr">Croata</option>
                <option value="mk">Macedonio</option>
                <option value="is">Islandés</option>
                <option value="mt">Maltés</option>
                <option value="cy">Galés</option>
                <option value="ga">Irlandés</option>
                <option value="af">Afrikáans</option>
                <option value="sw">Suajili</option>
                <option value="yo">Yoruba</option>
                <option value="zu">Zulú</option>
                <option value="am">Amárico</option>
                <option value="tg">Tayiko</option>
                <option value="ky">Kirguís</option>
                <option value="uz">Uzbeko</option>
                <option value="kk">Kazajo</option>
                <option value="mn">Mongol</option>
                <option value="ne">Nepalí</option>
                <option value="si">Cingalés</option>
                <option value="te">Telugu</option>
                <option value="ta">Tamil</option>
                <option value="kn">Canarés</option>
                <option value="ml">Malayalam</option>
                <option value="mr">Maratí</option>
                <option value="gu">Guyaratí</option>
                <option value="pa">Panyabí</option>
                <option value="my">Birmano</option>
                <option value="km">Camboyano</option>
                <option value="lo">Lao</option>
                <option value="hy">Armenio</option>
                <option value="ka">Georgiano</option>
                <option value="az">Azerí</option>
                <option value="sq">Albanés</option>
                <option value="bs">Bosnio</option>
                <option value="eu">Euskera</option>
                <option value="gl">Gallego</option>
                <option value="ca">Catalán</option>
              </select>
            </div>
          </div>
          <div class="block-form">
            <div class="block-form">
              <label for="inputVoice" class="label-user-dashboard">Voz</label>
              <select class="select-user-dashboard" id="inputVoice">
                <option value="nova">Nova</option>
                <option value="shimmer">Shimmer</option>
                <option value="echo">Echo</option>
                <option value="onyx">Onyx</option>
                <option value="fable">Fable</option>
                <option value="alloy">Alloy</option>
              </select>
            </div>
            <div class="block-form">
              <label for="subtitleOption" class="label-user-dashboard"
                >¿Agregar Subtítulos?</label
              >
              <select class="select-user-dashboard" id="subtitleOption">
                <option value="yes">Activados</option>
                <option value="no">Desactivados</option>
              </select>
            </div>
          </div>
          <div class="block-form">
            <div class="block-form">
              <label for="videoDuration" class="label-user-dashboard"
                >Duración del Video</label
              >
              <select class="select-user-dashboard" id="videoDuration">
                <option value="menos de 1 minuto">Menos de 1 minuto</option>
                <option value="2 minutos">1-2 minutos</option>
                <option value="10 minutos">5-10 minutos</option>
                <option value="20 minutos">15-20 minutos</option>
                <!--
                            <option value="30 minutos">20-30 minutos</option>
                            <option value="40 minutos">Más de 30 minutos</option>
                            -->
              </select>
            </div>
            <div class="block-form">
              <label for="subtitlePosition" class="label-user-dashboard"
                >Posición de los Subtítulos</label
              >
              <select class="select-user-dashboard" id="subtitlePosition">
                <option value="bottom">Inferior</option>
                <option value="top">Superior</option>
                <option value="center">Centro</option>
              </select>
            </div>
          </div>
          <div class="block-form">
            <label for="musicOption" class="label-user-dashboard">Música</label>
            <select class="select-user-dashboard" id="musicOption">
              <option value="no_music">Sin Música</option>
              <option value="with_music">Con Música</option>
            </select>

            <div class="block-form">
              <label for="contentOption" class="label-user-dashboard"
                >Tipo de Contenido</label
              >
              <select class="select-user-dashboard" id="contentOption">
                <option value="mixto">Mixto</option>
                <option value="imagenes">Solo Imágenes</option>
                <option value="videos">Solo Videos</option>
                <option value="personal">Carpeta Personal</option>
                <option value="google">Google solo imágenes</option>
              </select>
            </div>
            <div class="block-form">
              <label for="referenceLink" class="label-user-dashboard"
                >Ingresa un link de referencia</label
              >
              <input
                type="text"
                class="input-user-dashboard"
                id="referenceLink"
                placeholder="https://www.youtube.com/watch?v=..."
              />
            </div>
          </div>
          <div class="block-form" id="personalFolderSection">
            <!-- style="display: none" -->
            <div class="block-form">
              <label for="personalFolder" class="label-user-dashboard"
                >Seleccionar Carpeta Personal</label
              >
              <input
                type="file"
                id="personalFolder"
                webkitdirectory
                directory
                multiple
                class="input-user-dashboard"
              />
            </div>
          </div>
          <div class="block-form">
            <label for="videoOrientation" class="form-label"
              >Orientación del Video</label
            >
            <select
              class="select-user-dashboard"
              id="videoOrientation"
              style="width: auto"
            >
              <option value="horizontal">Horizontal</option>
              <option value="vertical">Vertical</option>
            </select>
          </div>
          <div class="block-form">
            <button
              type="button"
              class="btn btn-custom"
              onclick="generateScript()"
            >
              <strong>Generar Guion</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>
              <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
            </button>
          </div>
        </form>
      </div>

      <div
        class="dashboard-content-forms"
        id="upload-script"
        
      >
        <form id="uploadForm" class="dashboard-content-forms">
          <div class="block-form">
            <label for="inputManualTitle" class="label-user-dashboard"
              >Título del Video</label
            >
            <input
              type="text"
              class="input-user-dashboard"
              id="inputManualTitle"
              placeholder="Introduce un título"
            />
          </div>
          <div class="block-form">
            <label for="inputManualScript" class="label-user-dashboard"
              >Guion del Video</label
            >
            <textarea
              class="input-user-dashboard"
              id="inputManualScript"
              rows="10"
              placeholder="Introduce el guion"
            ></textarea>
          </div>
          <div class="block-form">
            <div class="block-form">
              <label for="inputLanguageManual" class="label-user-dashboard"
                >Idioma</label
              >
              <select class="select-user-dashboard" id="inputLanguageManual">
                <option value="es">Español</option>
                <option value="en">Inglés</option>
                <option value="fr">Francés</option>
                <option value="de">Alemán</option>
                <option value="it">Italiano</option>
                <option value="pt">Portugués</option>
                <option value="ru">Ruso</option>
                <option value="zh">Chino</option>
                <option value="ja">Japonés</option>
                <option value="ko">Coreano</option>
                <option value="ar">Árabe</option>
                <option value="hi">Hindi</option>
                <option value="tr">Turco</option>
                <option value="nl">Neerlandés</option>
                <option value="sv">Sueco</option>
                <option value="pl">Polaco</option>
                <option value="da">Danés</option>
                <option value="fi">Finés</option>
                <option value="no">Noruego</option>
                <option value="el">Griego</option>
                <option value="he">Hebreo</option>
                <option value="hu">Húngaro</option>
                <option value="cs">Checo</option>
                <option value="ro">Rumano</option>
                <option value="bg">Búlgaro</option>
                <option value="uk">Ucraniano</option>
                <option value="vi">Vietnamita</option>
                <option value="th">Tailandés</option>
                <option value="ms">Malayo</option>
                <option value="id">Indonesio</option>
                <option value="tl">Tagalo</option>
                <option value="bn">Bengalí</option>
                <option value="fa">Persa</option>
                <option value="ur">Urdu</option>
                <option value="et">Estonio</option>
                <option value="lv">Letón</option>
                <option value="lt">Lituano</option>
                <option value="sk">Eslovaco</option>
                <option value="sl">Esloveno</option>
                <option value="sr">Serbio</option>
                <option value="hr">Croata</option>
                <option value="mk">Macedonio</option>
                <option value="is">Islandés</option>
                <option value="mt">Maltés</option>
                <option value="cy">Galés</option>
                <option value="ga">Irlandés</option>
                <option value="af">Afrikáans</option>
                <option value="sw">Suajili</option>
                <option value="yo">Yoruba</option>
                <option value="zu">Zulú</option>
                <option value="am">Amárico</option>
                <option value="tg">Tayiko</option>
                <option value="ky">Kirguís</option>
                <option value="uz">Uzbeko</option>
                <option value="kk">Kazajo</option>
                <option value="mn">Mongol</option>
                <option value="ne">Nepalí</option>
                <option value="si">Cingalés</option>
                <option value="te">Telugu</option>
                <option value="ta">Tamil</option>
                <option value="kn">Canarés</option>
                <option value="ml">Malayalam</option>
                <option value="mr">Maratí</option>
                <option value="gu">Guyaratí</option>
                <option value="pa">Panyabí</option>
                <option value="my">Birmano</option>
                <option value="km">Camboyano</option>
                <option value="lo">Lao</option>
                <option value="hy">Armenio</option>
                <option value="ka">Georgiano</option>
                <option value="az">Azerí</option>
                <option value="sq">Albanés</option>
                <option value="bs">Bosnio</option>
                <option value="eu">Euskera</option>
                <option value="gl">Gallego</option>
                <option value="ca">Catalán</option>
              </select>
            </div>
            <div class="block-form">
              <label for="inputVoiceTypeManual" class="label-user-dashboard"
                >Tipo de Voz</label
              >
              <select class="select-user-dashboard" id="inputVoiceTypeManual">
                <option value="openai">OpenAI</option>
                <option value="elevenlabs">ElevenLabs</option>
                <option value="clipgenvoices">ClipGenVoices</option>
              </select>
            </div>
          </div>

          <div class="block-form">
            <div class="block-form">
              <label for="inputVoiceManual" class="label-user-dashboard"
                >Voz</label
              >
              <select class="select-user-dashboard" id="inputVoiceManual">
                <option value="nova">Nova</option>
                <option value="shimmer">Shimmer</option>
                <option value="echo">Echo</option>
                <option value="onyx">Onyx</option>
                <option value="fable">Fable</option>
                <option value="alloy">Alloy</option>
              </select>
            </div>
            <div class="block-form">
              <label for="subtitleOptionManual" class="label-user-dashboard"
                >¿Agregar Subtítulos?</label
              >
              <select class="select-user-dashboard" id="subtitleOptionManual">
                <option value="yes">Activados</option>
                <option value="no">Desactivados</option>
              </select>
            </div>
          </div>

          <div class="block-form">
            <div class="block-form">
              <label for="subtitlePositionManual" class="label-user-dashboard"
                >Posición de los Subtítulos</label
              >
              <select class="select-user-dashboard" id="subtitlePositionManual">
                <option value="bottom">Inferior</option>
                <option value="top">Superior</option>
                <option value="center">Centro</option>
              </select>
            </div>
            <div class="block-form">
              <label for="musicOptionManual" class="label-user-dashboard"
                >Música</label
              >
              <select class="select-user-dashboard" id="musicOptionManual">
                <option value="no_music">Sin Música</option>
                <option value="with_music">Con Música</option>
              </select>
            </div>
          </div>

          <div class="block-form">
            <div class="block-form">
              <label for="contentOptionManual" class="label-user-dashboard"
                >Tipo de Contenido</label
              >
              <select class="select-user-dashboard" id="contentOptionManual">
                <option value="mixto">Mixto</option>
                <option value="imagenes">Solo Imágenes</option>
                <option value="videos">Solo Videos</option>
                <option value="personal">Carpeta Personal</option>
              </select>
            </div>
          </div>
          <div class="block-form" id="personalFolderSectionManual">
            <!-- style="display: none" -->
            <div class="block-form">
              <label for="personalFolderManual" class="label-user-dashboard"
                >Seleccionar Carpeta Personal</label
              >
              <input
                type="file"
                id="personalFolderManual"
                webkitdirectory
                directory
                multiple
                class="input-user-dashboard"
              />
            </div>
          </div>

          <div class="block-form">
            <label for="videoOrientationManual" class="label-user-dashboard"
              >Orientación del Video</label
            >
            <select class="select-user-dashboard" id="videoOrientationManual">
              <option value="horizontal">Horizontal</option>
              <option value="vertical">Vertical</option>
            </select>
          </div>

          <div class="d-grid gap-2">
            <button
              type="button"
              class="btn btn-custom"
              onclick="acceptManualScript()"
            >
              <strong>Aceptar</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>
              <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
            </button>
          </div>
        </form>
      </div>

      <div
        class="dashboard-content-forms"
        id="your-videos"
  
      >
        <h3>Tus Videos</h3>
        <div id="videosList">
          <h3>Tareas en Progreso</h3>
          <div id="inProgressTasks"></div>
          <h3>Videos Almacenados</h3>
          <div id="existingVideos"></div>
        </div>
      </div>

      <div
        class="dashboard-content-forms"
        id="config"
      >
        <form id="configForm" method="POST">
          {% csrf_token %}
          <div>
            <label for="chatgptApiKey" class="label-user-dashboard"
              >ChatGPT API Key</label
            >
            <input
              type="text"
              class="input-user-dashboard"
              id="chatgptApiKey"
              placeholder="Introduce tu clave API de ChatGPT"
            />
          </div>
          <div>
            <label for="elevenlabsApiKey" class="label-user-dashboard"
              >ElevenLabs API Key</label
            >
            <input
              type="text"
              class="input-user-dashboard"
              id="elevenlabsApiKey"
              placeholder="Introduce tu clave API de ElevenLabs"
            />
          </div>
          <div class="d-grid gap-2">
            <button
              type="button"
              class="btn btn-custom"
              onclick="saveApiKeys()"
            >
              <strong>Guardar</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>
              <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
            </button>
          </div>
        </form>
        <form id="changeCredentialsForm" class="mt-4">
          <div>
            <label for="newUsername" class="label-user-dashboard"
              >Nuevo Usuario</label
            >
            <input
              type="text"
              class="input-user-dashboard"
              id="newUsername"
              placeholder="Introduce tu nuevo nombre de usuario"
            />
          </div>
          <div>
            <label for="currentPassword" class="label-user-dashboard"
              >Contraseña Actual</label
            >
            <input
              type="password"
              class="input-user-dashboard"
              id="currentPassword"
              placeholder="Introduce tu contraseña actual"
            />
          </div>
          <div>
            <label for="newPassword" class="label-user-dashboard"
              >Nueva Contraseña</label
            >
            <input
              type="password"
              class="input-user-dashboard"
              id="newPassword"
              placeholder="Introduce tu nueva contraseña"
            />
          </div>
          <div class="d-grid gap-2">
            <button
              type="button"
              class="btn btn-custom"
              onclick="changeCredentials()"
            >
              <strong>Guardar</strong>
              <div id="container-stars">
                <div id="stars"></div>
              </div>
              <div id="glow">
                <div class="circle"></div>
                <div class="circle"></div>
              </div>
            </button>
          </div>
        </form>
        <div class="minutes-info">
          <strong>Minutos restantes: {{ minutes_left }} min </strong> |
          <strong>Fecha de vencimiento: {{ reset_date|date:"d M Y" }}</strong>
          <button class="btn-upgrade" onclick="showUpgradePanel()">
            Mejorar plan
          </button>
          {% if current_plan_name %}
          <strong>Plan Actual: {{ current_plan_name }}</strong>
          <!-- solo aparece el botón si hay plan actual -->
          <button class="btn-cancel" onclick="showCancelPanel()">
            Cancelar Plan
          </button>
          {% else %}
          <strong>Plan Actual: Free</strong>
          {% endif %}
        </div>
      </div>
    </div>

    <div id="scriptSection" >
      <h2>Guion Generado</h2>
      <textarea
        id="generatedScript"
        class="input-user-dashboard"
        rows="10"
      ></textarea>
      <div class="d-grid gap-2 mt-3">
        <button class="btn btn-custom" onclick="acceptScript()">
          <strong>Aceptar</strong>
          <div id="container-stars">
            <div id="stars"></div>
          </div>
          <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </button>
        <button class="btn btn-custom" onclick="generateScript()">
          <strong>Reintentar</strong>
          <div id="container-stars">
            <div id="stars"></div>
          </div>
          <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </button>
      </div>
    </div>
    <div id="imagesSection">
      <h2>Imágenes Generadas</h2>
      <div class="row" id="generatedImages"></div>
      <div class="d-grid gap-2 mt-3">
        <input
          type="file"
          id="uploadImage"
          accept="image/jpeg,image/png,image/webp"
          multiple
          class="input-user-dashboard"
        />
        <!-- style="display: none" -->
        <button
          class="btn btn-custom"
          onclick="document.getElementById('uploadImage').click()"
        >
          <strong>Agregar Imagen</strong>
          <div id="container-stars">
            <div id="stars"></div>
          </div>
          <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </button>
        <button class="btn btn-custom" type="button" onclick="generateVideo()">
          <strong>Generar Video</strong>
          <div id="container-stars">
            <div id="stars"></div>
          </div>
          <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </button>
      </div>
    </div>
    <div id="videoSection">
      <h2>Video Generado</h2>
      <video id="generatedVideo" controls class="w-100"></video>
      <div class="d-grid gap-2 mt-3">
        <button class="btn btn-custom" onclick="repeatVideo()">
          <strong>Repetir Video</strong>
          <div id="container-stars">
            <div id="stars"></div>
          </div>
          <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </button>
        <button class="btn btn-custom" onclick="saveVideo()">
          <strong>Guardar</strong>
          <div id="container-stars">
            <div id="stars"></div>
          </div>
          <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </button>
        <button class="btn btn-custom" onclick="generateScript()">
          <strong>Hacer Otro</strong>
          <div id="container-stars">
            <div id="stars"></div>
          </div>
          <div id="glow">
            <div class="circle"></div>
            <div class="circle"></div>
          </div>
        </button>
      </div>
    </div>
    <div class="center-body" id="loading">
      <div class="loader-circle-9">
        Cargando
        <span></span>
      </div>
    </div>

    <!-- CHATBOT -->
    <div class="chatbot-container" id="chatbotContainer">
      <div class="chatbot-header">Asistente Virtual</div>
      <div class="chatbot-questions" id="chatbotQuestions">
        <button
          class="btn btn-outline-primary"
          onclick="handleQuestion('¿Cómo usar la aplicación?')"
        >
          ¿Cómo usar la aplicación?
        </button>
        <button
          class="btn btn-outline-primary"
          onclick="handleQuestion('Problemas con API')"
        >
          Problemas con API
        </button>
        <button
          class="btn btn-outline-primary"
          onclick="handleQuestion('Soporte')"
        >
          Soporte
        </button>
      </div>
      <div class="chatbot-messages" id="chatbotMessages"></div>
      <div class="chatbot-input">
        <input
          type="text"
          id="chatbotInput"
          placeholder="Escribe un mensaje..."
        />
        <button onclick="sendMessage()">Enviar</button>
      </div>
    </div>
    <button class="chatbot-toggle" id="chatbotToggle" onclick="toggleChatbot()">
      <img
        src="{% static 'img/clipgen.ai logo.png' %}"
        alt="Chat Icon"
        width="30"
        height="30"
      />
    </button>
    <!-- CHATBOT -->
  </div>
</section>

{% endblock %}
