{% extends "main/base.html" %} {% load static %} {% block title %}Generador de
Videos IA{% endblock %} {% block content %}
<!-- MENSAJE ALERT HARDCODE -->
<!-- <div id="alerts-modal">
  <div class="alert alert-center alert-success show" role="alert">
    Error: Error al acceder a la API de ChatGPT: Incorrect API key provided:
    sk-proj-************************* *****************************************
    ********************** ************************** **************************
    ***********f1dc. You can find your API key a t
    https://platform.openai.com/account/api-keys.
  </div>
</div> -->
<!-- MENSAJE ALERT HARDCODE -->

<!-- ??? -->
<section id="dashboard-section">
  <!-- PANEL LATERAL IZQUIERDO -->
  <aside id="aside-buttons" role="tablist">
    <span class="open-mobile-aside"><i class="fa-solid fa-bars"></i></span>
    <div class="buttons-content">
      <button class="button-tab active" id="upload-script-tab">
        <span id="icon-content-buttons-aside">
          <i class="fa-solid fa-i-cursor"></i></span
        ><span>Ingresar Guion</span>
      </button>
      <button class="button-tab" id="generate-script-tab">
        <span id="icon-content-buttons-aside"
          ><i class="fa-solid fa-circle-play"></i
        ></span>
        <span>Generar Guion</span>
      </button>
      <button class="button-tab" id="your-videos-tab">
        <span id="icon-content-buttons-aside"
          ><i class="fa-solid fa-video"></i></span
        ><span>Galeria</span>
      </button>
      <button class="button-tab" id="config-tab">
        <span id="icon-content-buttons-aside"
          ><i class="fa-solid fa-gear"></i
        ></span>
        <span>Configuración</span>
      </button>
    </div>
    <div class="secondary-content">
      <div class="logos-redes">
        <a
          class="aside-button-instagram-styles"
          href="https://www.instagram.com/clipgenai/"
          target="_blank"
        >
          <i class="fa-brands fa-instagram filter-shadow"></i>
        </a>
        <a
          class="aside-button-youtube-styles"
          href="https://www.youtube.com/"
          target="_blank"
        >
          <i class="fa-brands fa-youtube filter-shadow"></i>
        </a>
      </div>
      <div class="links-secondary">
        <a href="{% url 'sobre' %}">Acerca de</a>
        <a
          >Clipgen
          <script>
            document.write(new Date().getFullYear());
          </script></a
        >
      </div>
    </div>
  </aside>
  <!-- PANEL LATERAL IZQUIERDO -->

  <!-- PANEL PARA ACTUALIZAR EL PLAN -->
  <div id="upgradePanel" class="panel-upgrade">
    <div class="panel-upgrade-content">
      <p class="title-upgrade-panel">Selecciona tu Plan</p>
      <button id="btn-close-panel" class="close-panel">
        <i class="fa-solid fa-xmark"></i>
      </button>

      <div id="plansContainer">
        <div class="plan-item">
          <h3>
            Plan Starter
            <img src="{% static 'img/clipgen.ai logo.png' %}" alt="Check" />
          </h3>
          <div id="plan-item-feature">
            <div id="plan-item-feature-line">
              <span>80 Minutos acumulables</span
              ><img src="{% static 'img/check.photo.png' %}" alt="Check" />
            </div>
            <div id="plan-item-feature-line">
              <span>Acceso a Clipgen voices</span
              ><img src="{% static 'img/check.photo.png' %}" alt="Check" />
            </div>
            <div id="plan-item-feature-line">
              <span>Hasta 3 videos simultáneos 20 min</span
              ><img src="{% static 'img/check.photo.png' %}" alt="Check" />
            </div>
            <div id="plan-item-feature-line">
              <span> Acceso a todas las funciones. </span
              ><img src="{% static 'img/check.photo.png' %}" alt="Check" />
            </div>
            <div id="plan-item-feature-line">
              <span>Uso de ElevenLabs integrado con tu propia API. </span
              ><img src="{% static 'img/check.photo.png' %}" alt="Check" />
            </div>
          </div>
          <div id="plan-item-content-finally">
            <button class="btn-subscription">Suscribirme</button>
            <p id="price-plan">$29.99/mes</p>
          </div>
        </div>

        <div class="plan-item">
          <h3>
            Plan Creator
            <img src="{% static 'img/clipgen.ai logo.png' %}" alt="Check" />
          </h3>
          <div id="plan-item-feature">
            <div id="plan-item-feature-line">
              <span>200 Minutos acumulables</span
              ><img src="{% static 'img/check.photo.png' %}" alt="Check" />
            </div>

            <div id="plan-item-feature-line">
              <span>Contenido del plan starter</span
              ><img src="{% static 'img/check.photo.png' %}" alt="Check" />
            </div>
            <div id="plan-item-feature-line">
              <span> Mayor tiempo disponible para crear contenido </span
              ><img src="{% static 'img/check.photo.png' %}" alt="Check" />
            </div>
          </div>
          <div id="plan-item-content-finally">
            <button class="btn-subscription">Suscribirme</button>
            <p id="price-plan">$49.99/mes</p>
          </div>
        </div>

        <div class="plan-item">
          <h3>
            Plan Creator Pro
            <img src="{% static 'img/clipgen.ai logo.png' %}" alt="Check" />
          </h3>
          <div id="plan-item-feature">
            <div id="plan-item-feature-line">
              <span>500 Minutos acumulables</span
              ><img src="{% static 'img/check.photo.png' %}" alt="Check" />
            </div>
            <div id="plan-item-feature-line">
              <span>Contenido del plan Creator y Starter</span
              ><img src="{% static 'img/check.photo.png' %}" alt="Check" />
            </div>
            <div id="plan-item-feature-line">
              <span
                >Ideal para creadores que necesiten maximiar su produccion</span
              ><img src="{% static 'img/check.photo.png' %}" alt="Check" />
            </div>
          </div>
          <div id="plan-item-content-finally">
            <button class="btn-subscription">Suscribirme</button>
            <p id="price-plan">$99.99/mes</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="cancelPanel"
    class="panel-cancel animate__animated animate__slideInUp"
  >
    <a href="#">
      <img src="{% static 'img/clipgen.ai logo.png' %}" alt="Logo" />
      <h1>Clipgen Ai</h1>
    </a>

    <div class="panel-cancel-content">
      <div>
        <h2>¿Cancelar Suscripción?</h2>
        <p>
          Queremos agradecerte por haber sido parte de nuestra comunidad. Aunque
          estás cancelando tu suscripción, valoramos mucho tu opinión para
          seguir mejorando.
        </p>
      </div>

      <form action="#" method="post">
        <label for="motivo">¿Por qué estás cancelando tu suscripción?</label>
        <select id="motivo" name="motivo">
          <option value="no-necesito">No necesito el servicio</option>
          <option value="costo">Costo</option>
          <option value="no-me-gusto">No me gustó</option>
          <option value="otro">Otro (por favor, especifica)</option>
        </select>

        <label for="comentarios">Comentarios adicionales:</label>
        <textarea
          id="comentarios"
          name="comentarios"
          placeholder="Por favor, comparte tus comentarios o sugerencias"
        ></textarea>
      </form>

      <div class="cancel-buttons-div">
        <button id="btn-confirm-cancel-plan" class="btn-confirm-panel">
          Cancelar suscripcion
        </button>
        <button id="btn-close-cancel-panel" class="btn-cancel-panel">
          Volver a Clipgen
        </button>
      </div>
    </div>
  </div>
  <!-- PANEL PARA ACTUALIZAR EL PLAN -->

  <!-- SECCION DE GENERACION DE CONTENIDO, GALERIA Y CONFIGURACION DE PERFIL  -->
  <div id="dashboard-content-generator">
    <form
      id="uploadForm"
      class="form-user-dashboard animate__animated animate__fadeIn"
    >
      <!-- PANEL PRINCIPAL -->
      <div class="block-form">
        <label for="inputManualTitle" class="label-user-dashboard"
          >Título del Video</label
        >
        <input
          type="text"
          class="input-user-dashboard"
          id="inputManualTitle"
          placeholder="Introduce un título"
        />
      </div>
      <div class="block-form">
        <label for="inputManualScript" class="label-user-dashboard"
          >Guion del Video</label
        >
        <textarea
          id="inputManualScript"
          rows="10"
          placeholder="Introduce el guion"
        ></textarea>
        <button
          type="button"
          id="btn-upload-script"
          class="btn btn-custom"
          onclick="acceptManualScript()"
        >
          Generar video
        </button>
        <!-- BOTON PARA GENERAR VIDEO -->
      </div>
      <!-- CONTAINER CON BOTONES PARA MOSTRAR OPCIONES -->
      <div id="options-generate-scripts">
        <span id="btn-audio-options" class="button-option-scripts button-area1">
          <!-- <i class="fa-solid fa-volume-high"></i> -->
          <!-- <img
            width="35"
            height="35"
            src="https://img.icons8.com/fluency/48/high-volume.png"
            alt="high-volume"
          /> -->
          <i class="fa-solid fa-volume-high"></i>
          <p>Audio</p>
        </span>
        <span
          id="btn-subtitle-options"
          class="button-option-scripts button-area2"
        >
          <i class="material-symbols-outlined">subtitles </i>
          <p>Subtitulos</p>
        </span>
        <span id="btn-more-options" class="button-option-scripts button-area3">
          <i class="fa-solid fa-gears"></i>
          <p>Edicion</p>
        </span>
      </div>
    </form>

    <form
      id="generate-script"
      class="form-user-dashboard animate__animated animate__fadeIn"
    >
      <!-- PANEL PRINCIPAL -->
      <div class="block-form">
        <label for="inputTitle" class="label-user-dashboard"
          >Título del video</label
        >
        <div class="suggest-tittle-content">
          <input
            type="text"
            class="input-user-dashboard"
            id="inputTitle"
            placeholder="Introduce un título"
          />
          <button
            class="btn-outline-secondary"
            type="button"
            onclick="suggestTitles()"
          >
            Sugerir Títulos
          </button>
        </div>
        <!--  opciones sugeridas hardcodeadas-->
        <div id="titleSuggestions">
          <h3 id="title-suggestion-container">
            <i class="fa-solid fa-lightbulb"></i> Titulos sugeridos
          </h3>
          <div class="suggestion-item animate__animated animate__fadeIn">
            Revelando la Vida de los Dinosaurios: Un Viaje en el Tiempo
            <i class="fa-solid fa-check"></i>
          </div>
          <div class="suggestion-item animate__animated animate__fadeIn">
            Revelando la Vida de los Dinosaurios: Un Viaje en el Tiempo
            <i class="fa-solid fa-check"></i>
          </div>
          <div class="suggestion-item animate__animated animate__fadeIn">
            Revelando la Vida de los Dinosaurios: Un Viaje en el Tiempo
            <i class="fa-solid fa-check"></i>
          </div>
          <div class="suggestion-item animate__animated animate__fadeIn">
            Revelando la Vida de los Dinosaurios: Un Viaje en el Tiempo
            <i class="fa-solid fa-check"></i>
          </div>
        </div>
        <!--  opciones sugeridas hardcodeadas-->
        <!--  opciones sugeridas hardcodeadas-->
        <!-- BOTON PARA GENERAR VIDEO -->
        <button
          id="btn-generate-video-generate-script"
          type="button"
          class="btn btn-custom"
          onclick="generateScript()"
        >
          Generar video
        </button>
      </div>
      <!-- CONTAINER CON BOTONES PARA MOSTRAR OPCIONES -->
      <div id="options-generate-scripts">
        <span
          id="btn-options-audio_GENERATE"
          class="button-option-scripts button-area1"
        >
          <i class="fa-solid fa-volume-high"></i>

          <p>Audio</p>
        </span>
        <span
          id="btn-options-subtitle_GENERATE"
          class="button-option-scripts button-area2"
        >
          <i class="material-symbols-outlined">subtitles </i>
          <p>Subtitulos</p>
        </span>
        <span
          id="btn-more-options_GENERATE"
          class="button-option-scripts button-area3"
        >
          <i class="fa-solid fa-gears"></i>

          <p>Mas opciones</p>
        </span>
      </div>
    </form>

    <div id="your-videos" class="animate__animated animate__fadeIn">
      <div id="videosList">
        <h4>Videos en progreso</h4>
        <div id="inProgressTasks">
          <span>
            <p>Creando video: "lobo cazando"</p>
          </span>
          <div class="status">
            <img
              class="img-status"
              src="{% static 'img/clipgen.ai logo.png' %}"
              alt="Logo"
              width="50"
              height="50"
            />
            <p id="current-step-info"></p>
            <span id="progress-percentage"></span>
          </div>
          <div class="progress-container">
            <div class="progress-bar" id="progress-bar"></div>
          </div>
        </div>
      </div>

      <div id="videos-store">
        <h3 id="btn-open-existing-videos">Videos almacenados</h3>
        <!-- <button id="btn-open-existing-videos">Ver videos</button> -->
        <div id="existingVideos" class="close-existing"></div>
      </div>
    </div>

    <div
      class="dashboard-content-forms animate__animated animate__fadeIn"
      id="config"
    >
      <!-- SECCION DE CONFIGURACION DE API -->
      <!-- <form class="config-form" id="configForm" method="POST">
        <span id="btn-open-config-api"
          ><i class="fa-solid fa-key"></i>Claves de API</span
        >
        {% csrf_token %}
        <div id="content-config-apis" class="close-form-config">
          <div class="block-form">
            <label for="chatgptApiKey" class="label-user-dashboard"
              >ChatGPT API Key</label
            >
            <input
              type="text"
              class="input-user-dashboard"
              id="chatgptApiKey"
              placeholder="Introduce tu clave API de ChatGPT"
            />
          </div>
          <div class="block-form">
            <label for="elevenlabsApiKey" class="label-user-dashboard"
              >ElevenLabs API Key</label
            >
            <input
              type="text"
              class="input-user-dashboard"
              id="elevenlabsApiKey"
              placeholder="Introduce tu clave API de ElevenLabs"
            />
          </div>
          <button type="button" class="btn-custom" onclick="saveApiKeys()">
            <strong>Guardar</strong>
          </button>
        </div>
      </form> -->
      <!-- SECCION DE CONFIGURACION DE API -->

      <form class="config-form" id="changeCredentialsForm">
        <div id="content-change-credencials">
          <div class="block-form">
            <label for="newUsername" class="label-user-dashboard"
              >Nuevo Usuario</label
            >
            <input
              type="text"
              class="input-user-dashboard"
              id="newUsername"
              placeholder="Introduce tu nuevo nombre de usuario"
            />
          </div>
          <div class="block-form">
            <label for="currentPassword" class="label-user-dashboard"
              >Contraseña Actual</label
            >
            <input
              type="password"
              class="input-user-dashboard"
              id="currentPassword"
              placeholder="Introduce tu contraseña actual"
            />
            <i id="show-pw-config1" class="fa-solid fa-eye"></i>
          </div>
          <div class="block-form">
            <label for="newPassword" class="label-user-dashboard"
              >Nueva Contraseña</label
            >
            <input
              type="password"
              class="input-user-dashboard"
              id="newPassword"
              placeholder="Introduce tu nueva contraseña"
            />
            <i id="show-pw-config2" class="fa-solid fa-eye"></i>
          </div>

          <button
            type="button"
            class="btn-config"
            onclick="changeCredentials()"
          >
            Actualizar
          </button>
        </div>

        <div class="minutes-info">
          <span class="minutes-info-line"
            ><p>Minutos restantes:</p>
            <strong>200 min</strong>
          </span>
          <span class="minutes-info-line"
            ><p>Fecha de vencimiento:</p>
            <strong>12/12/25</strong></span
          >

          <!-- {% if current_plan_name %} -->
          <!-- solo aparece el botón si hay plan actual -->
          <!-- {% else %} -->
          <!-- <span class="minutes-info-line"
            ><p>Plan Actual:</p>
            <strong>Free</strong></span
          > -->
          <span class="minutes-info-line"
            ><p>Plan Actual:</p>
            <strong>CREATOR</strong></span
          >
          <span id="btn-cancel-plan" class="btn-cancel-plan">
            Cancelar Plan
          </span>

          <span id="btn-upgrade-plan" class="btn-config"> Mejorar plan </span>
          <!-- {% endif %} -->
        </div>
      </form>
    </div>

    <!-- PANELES DE CONFIGURACION DESPLEGABLES -->
    <!-- MODAL CON LAS OPCIONES DE CONFIGURACION -->
    <div id="modal-upload">
      <div class="animate__animated animate__bounceInUp modal-options">
        <!-- opciones de configuracion -->
        <div id="options-audio-template">
          <div class="block-form-modal-options">
            <label for="inputVoiceType" class="label-user-dashboard"
              >Tipo de Voz</label
            >
            <select class="select-user-dashboard" id="inputVoiceType">
              <option value="openai">OpenAI</option>
              <option value="elevenlabs">ElevenLabs</option>
              <option value="clipgenvoices">ClipgenVoices</option>
            </select>
          </div>

          <div class="block-form-modal-options">
            <label for="inputVoice" class="label-user-dashboard">Voz</label>
            <select class="select-user-dashboard" id="inputVoiceManual">
              <option value="sarah">Sarah</option>
              <option value="daniel">Daniel</option>
              <option value="drew">Drew</option>
              <option value="james">James</option>
              <option value="dorothy">Dorothy</option>
              <option value="serena">Serena</option>
              <option value="adam">Adam</option>
              <option value="alice">Alice</option>
              <option value="arnold">Arnold</option>
              <option value="callum">Callum</option>
              <option value="charlie">Charlie</option>
              <option value="chris">Chris</option>
              <option value="dave">Dave</option>
              <option value="elli">Elli</option>
              <option value="emily">Emily</option>
              <option value="ethan">Ethan</option>
              <option value="fin">Fin</option>
              <option value="freya">Freya</option>
              <option value="george">George</option>
              <option value="giovanni">Giovanni</option>
              <option value="glinda">Glinda</option>
              <option value="grace">Grace</option>
              <option value="harry">Harry</option>
              <option value="jessie">Jessie</option>
              <option value="joseph">Joseph</option>
              <option value="josh">Josh</option>
              <option value="liam">Liam</option>
              <option value="lily">Lily</option>
              <option value="matilda">Matilda</option>
              <option value="matthew">Matthew</option>
              <option value="michael">Michael</option>
              <option value="mimi">Mimi</option>
              <option value="nicole">Nicole</option>
              <option value="patrick">Patrick</option>
              <option value="paul">Paul</option>
              <option value="rachel">Rachel</option>
              <option value="sam">Sam</option>
              <option value="thomas">Thomas</option>
              <option value="antoni">Antoni</option>
              <option value="bill">Bill</option>
              <option value="brian">Brian</option>
              <option value="charlotte">Charlotte</option>
              <option value="clyde">Clyde</option>
              <option value="domi">Domi</option>
              <option value="gigi">Gigi</option>
              <option value="jeremy">Jeremy</option>
              <option value="valentino">Valentino</option>
              <option value="john">John</option>
              <option value="marcus">Marcus</option>
            </select>
            <!-- <select class="select-user-dashboard" id="inputVoice">
              <option value="nova">Nova</option>
              <option value="shimmer">Shimmer</option>
              <option value="echo">Echo</option>
              <option value="onyx">Onyx</option>
              <option value="fable">Fable</option>
              <option value="alloy">Alloy</option>
            </select> -->
          </div>

          <div class="block-form-modal-options">
            <label for="musicOption" class="label-user-dashboard">Música</label>
            <select class="select-user-dashboard" id="musicOption">
              <option value="no_music">Sin Música</option>
              <option value="with_music">Con Música</option>
            </select>
          </div>
        </div>
        <div id="options-subtitle-template">
          <div class="block-form-modal-options">
            <label for="subtitleOption" class="label-user-dashboard"
              >Subtítulos</label
            >
            <select class="select-user-dashboard" id="subtitleOption">
              <option value="no">Desactivados</option>
              <option value="yes">Activados</option>
            </select>
          </div>

          <div class="block-form-modal-options">
            <label for="inputLanguage" class="label-user-dashboard"
              >Idioma</label
            >
            <select class="select-user-dashboard" id="inputLanguage" disabled>
              <option value="es">Español</option>
              <option value="en">Inglés</option>
              <option value="fr">Francés</option>
              <option value="de">Alemán</option>
              <option value="it">Italiano</option>
              <option value="pt">Portugués</option>
              <option value="ru">Ruso</option>
              <option value="zh">Chino</option>
              <option value="ja">Japonés</option>
              <option value="ko">Coreano</option>
              <option value="ar">Árabe</option>
              <option value="hi">Hindi</option>
              <option value="tr">Turco</option>
              <option value="nl">Neerlandés</option>
              <option value="sv">Sueco</option>
              <option value="pl">Polaco</option>
              <option value="da">Danés</option>
              <option value="fi">Finés</option>
              <option value="no">Noruego</option>
              <option value="el">Griego</option>
              <option value="he">Hebreo</option>
              <option value="hu">Húngaro</option>
              <option value="cs">Checo</option>
              <option value="ro">Rumano</option>
              <option value="bg">Búlgaro</option>
              <option value="uk">Ucraniano</option>
              <option value="vi">Vietnamita</option>
              <option value="th">Tailandés</option>
              <option value="ms">Malayo</option>
              <option value="id">Indonesio</option>
              <option value="tl">Tagalo</option>
              <option value="bn">Bengalí</option>
              <option value="fa">Persa</option>
              <option value="ur">Urdu</option>
              <option value="et">Estonio</option>
              <option value="lv">Letón</option>
              <option value="lt">Lituano</option>
              <option value="sk">Eslovaco</option>
              <option value="sl">Esloveno</option>
              <option value="sr">Serbio</option>
              <option value="hr">Croata</option>
              <option value="mk">Macedonio</option>
              <option value="is">Islandés</option>
              <option value="mt">Maltés</option>
              <option value="cy">Galés</option>
              <option value="ga">Irlandés</option>
              <option value="af">Afrikáans</option>
              <option value="sw">Suajili</option>
              <option value="yo">Yoruba</option>
              <option value="zu">Zulú</option>
              <option value="am">Amárico</option>
              <option value="tg">Tayiko</option>
              <option value="ky">Kirguís</option>
              <option value="uz">Uzbeko</option>
              <option value="kk">Kazajo</option>
              <option value="mn">Mongol</option>
              <option value="ne">Nepalí</option>
              <option value="si">Cingalés</option>
              <option value="te">Telugu</option>
              <option value="ta">Tamil</option>
              <option value="kn">Canarés</option>
              <option value="ml">Malayalam</option>
              <option value="mr">Maratí</option>
              <option value="gu">Guyaratí</option>
              <option value="pa">Panyabí</option>
              <option value="my">Birmano</option>
              <option value="km">Camboyano</option>
              <option value="lo">Lao</option>
              <option value="hy">Armenio</option>
              <option value="ka">Georgiano</option>
              <option value="az">Azerí</option>
              <option value="sq">Albanés</option>
              <option value="bs">Bosnio</option>
              <option value="eu">Euskera</option>
              <option value="gl">Gallego</option>
              <option value="ca">Catalán</option>
            </select>
          </div>

          <div class="block-form-modal-options">
            <label for="subtitleType" class="label-user-dashboard"
              >Tipo de subtítulos</label
            >
            <select class="select-user-dashboard" id="subtitleType" disabled>
              <option value="1">Opcion 1</option>
              <option value="2">Opcion 2</option>
              <option value="3">Opcion 3</option>
            </select>
          </div>

          <div class="block-form-modal-options">
            <label for="subtitlePosition" class="label-user-dashboard"
              >Posición de los Subtítulos</label
            >
            <select
              class="select-user-dashboard"
              id="subtitlePosition"
              disabled
            >
              <option value="bottom">Inferior</option>
              <option value="top">Superior</option>
              <option value="center">Centro</option>
            </select>
          </div>
        </div>

        <div id="more-options-upload">
          <div class="block-form-modal-options">
            <label for="contentOptionManual" class="label-user-dashboard"
              >Tipo de Contenido</label
            >
            <select class="select-user-dashboard" id="contentOptionManual">
              <option value="mixto">Mixto</option>
              <option value="imagenes">Solo Imágenes</option>
              <option value="videos">Solo Videos</option>
              <option value="personal">Carpeta Personal</option>
            </select>
          </div>

          <div
            class="block-form-modal-options"
            id="personalFolderSectionManual"
          >
            <!-- style="display: none" -->
            <label for="personalFolderManual" class="label-user-dashboard"
              >Seleccionar Carpeta Personal</label
            >
            <input
              type="file"
              id="personalFolderManual"
              webkitdirectory
              directory
              multiple
              class="input-user-dashboard"
            />
          </div>
          <div class="block-form-modal-options">
            <label for="videoOrientationManual" class="label-user-dashboard"
              >Orientación del Video</label
            >
            <select class="select-user-dashboard" id="videoOrientationManual">
              <option value="horizontal">Horizontal</option>
              <option value="vertical">Vertical</option>
            </select>
          </div>
        </div>
        <!-- opciones de configuracion -->

        <span id="close-modal" class="close-modal-options"> Guardar </span>
      </div>
    </div>
    <!-- MODAL CON LAS OPCIONES DE VIDEO CONFIGURACION SCRIPT GENERATION-->
    <div id="modal_GENERATE">
      <div class="animate__animated animate__bounceInUp modal-options">
        <!-- opciones de configuracion -->
        <div id="options-audio_GENERATE">
          <div class="block-form-modal-options">
            <label for="inputVoiceType" class="label-user-dashboard"
              >Tipo de Voz</label
            >
            <select class="select-user-dashboard" id="inputVoiceType">
              <option value="openai">OpenAI</option>
              <option value="elevenlabs">ElevenLabs</option>
              <option value="clipgenvoices">ClipgenVoices</option>
            </select>
          </div>

          <div class="block-form-modal-options">
            <label for="inputVoice" class="label-user-dashboard">Voz</label>
            <select class="select-user-dashboard" id="inputVoice">
              <option value="nova">Nova</option>
              <option value="shimmer">Shimmer</option>
              <option value="echo">Echo</option>
              <option value="onyx">Onyx</option>
              <option value="fable">Fable</option>
              <option value="alloy">Alloy</option>
            </select>
          </div>

          <div class="block-form-modal-options">
            <label for="musicOption" class="label-user-dashboard">Música</label>
            <select class="select-user-dashboard" id="musicOption">
              <option value="no_music">Sin Música</option>
              <option value="with_music">Con Música</option>
            </select>
          </div>
        </div>
        <div id="options-subtitle_GENERATE">
          <div class="block-form-modal-options">
            <label for="subtitleOption" class="label-user-dashboard"
              >Subtítulos</label
            >
            <select class="select-user-dashboard" id="subtitleOption_GENERATE">
              <option value="no">Desactivados</option>
              <option value="yes">Activados</option>
            </select>
          </div>
          <div class="block-form-modal-options">
            <label for="inputLanguage" class="label-user-dashboard"
              >Idioma</label
            >
            <select class="select-user-dashboard" id="inputLanguage_GENERATE">
              <option value="es">Español</option>
              <option value="en">Inglés</option>
              <option value="fr">Francés</option>
              <option value="de">Alemán</option>
              <option value="it">Italiano</option>
              <option value="pt">Portugués</option>
              <option value="ru">Ruso</option>
              <option value="zh">Chino</option>
              <option value="ja">Japonés</option>
              <option value="ko">Coreano</option>
              <option value="ar">Árabe</option>
              <option value="hi">Hindi</option>
              <option value="tr">Turco</option>
              <option value="nl">Neerlandés</option>
              <option value="sv">Sueco</option>
              <option value="pl">Polaco</option>
              <option value="da">Danés</option>
              <option value="fi">Finés</option>
              <option value="no">Noruego</option>
              <option value="el">Griego</option>
              <option value="he">Hebreo</option>
              <option value="hu">Húngaro</option>
              <option value="cs">Checo</option>
              <option value="ro">Rumano</option>
              <option value="bg">Búlgaro</option>
              <option value="uk">Ucraniano</option>
              <option value="vi">Vietnamita</option>
              <option value="th">Tailandés</option>
              <option value="ms">Malayo</option>
              <option value="id">Indonesio</option>
              <option value="tl">Tagalo</option>
              <option value="bn">Bengalí</option>
              <option value="fa">Persa</option>
              <option value="ur">Urdu</option>
              <option value="et">Estonio</option>
              <option value="lv">Letón</option>
              <option value="lt">Lituano</option>
              <option value="sk">Eslovaco</option>
              <option value="sl">Esloveno</option>
              <option value="sr">Serbio</option>
              <option value="hr">Croata</option>
              <option value="mk">Macedonio</option>
              <option value="is">Islandés</option>
              <option value="mt">Maltés</option>
              <option value="cy">Galés</option>
              <option value="ga">Irlandés</option>
              <option value="af">Afrikáans</option>
              <option value="sw">Suajili</option>
              <option value="yo">Yoruba</option>
              <option value="zu">Zulú</option>
              <option value="am">Amárico</option>
              <option value="tg">Tayiko</option>
              <option value="ky">Kirguís</option>
              <option value="uz">Uzbeko</option>
              <option value="kk">Kazajo</option>
              <option value="mn">Mongol</option>
              <option value="ne">Nepalí</option>
              <option value="si">Cingalés</option>
              <option value="te">Telugu</option>
              <option value="ta">Tamil</option>
              <option value="kn">Canarés</option>
              <option value="ml">Malayalam</option>
              <option value="mr">Maratí</option>
              <option value="gu">Guyaratí</option>
              <option value="pa">Panyabí</option>
              <option value="my">Birmano</option>
              <option value="km">Camboyano</option>
              <option value="lo">Lao</option>
              <option value="hy">Armenio</option>
              <option value="ka">Georgiano</option>
              <option value="az">Azerí</option>
              <option value="sq">Albanés</option>
              <option value="bs">Bosnio</option>
              <option value="eu">Euskera</option>
              <option value="gl">Gallego</option>
              <option value="ca">Catalán</option>
            </select>
          </div>
          <div class="block-form-modal-options">
            <label for="subtitleType" class="label-user-dashboard"
              >Tipo de subtítulos</label
            >
            <select class="select-user-dashboard" id="subtitleType_GENERATE">
              <option value="1">Opcion 1</option>
              <option value="2">Opcion 2</option>
              <option value="3">Opcion 3</option>
            </select>
          </div>
          <div class="block-form-modal-options">
            <label for="subtitlePosition" class="label-user-dashboard"
              >Posición de los Subtítulos</label
            >
            <select
              class="select-user-dashboard"
              id="subtitlePosition_GENERATE"
            >
              <option value="bottom">Inferior</option>
              <option value="top">Superior</option>
              <option value="center">Centro</option>
            </select>
          </div>
        </div>
        <div id="more-options_GENERATE">
          <div class="block-form-modal-options">
            <label for="videoCount" class="label-user-dashboard"
              >Cantidad de videos</label
            >
            <select class="select-user-dashboard" id="videoCount">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="block-form-modal-options">
            <label for="videoDuration" class="label-user-dashboard"
              >Duración del Video</label
            >
            <select class="select-user-dashboard" id="videoDuration">
              <option value="menos de 1 minuto">Menos de 1 minuto</option>
              <option value="2 minutos">1-2 minutos</option>
              <option value="10 minutos">5-10 minutos</option>
              <option value="20 minutos">15-20 minutos</option>
              <!--
                                <option value="30 minutos">20-30 minutos</option>
                                <option value="40 minutos">Más de 30 minutos</option>
                                -->
            </select>
          </div>
          <div class="block-form-modal-options">
            <label for="contentOption" class="label-user-dashboard"
              >Tipo de Contenido</label
            >
            <select class="select-user-dashboard" id="contentOption">
              <option value="mixto">Mixto</option>
              <option value="imagenes">Solo Imágenes</option>
              <option value="videos">Solo Videos</option>
              <option value="personal">Carpeta Personal</option>
              <option value="google">Google solo imágenes</option>
            </select>
          </div>
          <div class="block-form-modal-options">
            <label for="videoOrientation" class="label-user-dashboard"
              >Orientación del Video</label
            >
            <select
              class="select-user-dashboard"
              id="videoOrientation"
              style="width: auto"
            >
              <option value="horizontal">Horizontal</option>
              <option value="vertical">Vertical</option>
            </select>
          </div>
          <div class="block-form-modal-options" id="referenceLink">
            <label for="referenceLink" class="label-user-dashboard"
              >Ingresa un link de referencia</label
            >
            <input
              type="text"
              class="input-user-dashboard"
              id="referenceLink"
              placeholder="https://www.youtube.com/watch?v=..."
            />
          </div>
          <div class="block-form-modal-options" id="personalFolderSection">
            <!-- style="display: none" -->
            <label for="personalFolder" class="label-user-dashboard"
              >Seleccionar Carpeta Personal</label
            >
            <input
              type="file"
              id="personalFolder"
              webkitdirectory
              directory
              multiple
              class="input-user-dashboard"
            />
          </div>
        </div>
        <!-- opciones de configuracion -->
        <span id="close-modal_GENERATE" class="close-modal-options">
          Guardar
        </span>
      </div>
    </div>
  </div>
  <!-- SECCION DE GENERACION DE CONTENIDO, GALERIA Y CONFIGURACION DE PERFIL  -->

  <!-- IMAGEN DE CARGA DE PANTALLA  -->
  <div id="loading">
    <span class="loader"> </span>
  </div>
  <!-- IMAGEN DE CARGA DE PANTALLA -->

  <!-- CHATBOT -->
  <div class="overlay-chatbot" onclick="toggleChatbot()"></div>
  <i
    class="fa-solid fa-circle-xmark btn-close-chatbot"
    onclick="toggleChatbot()"
  ></i>
  <div
    class="chatbot-container animate__animated animate__bounceInDown"
    id="chatbotContainer"
  >
    <div class="chatbot-header">Asistente Virtual</div>
    <div class="chatbot-questions" id="chatbotQuestions">
      <button
        class="btn btn-outline-primary"
        onclick="handleQuestion('¿Cómo usar la aplicación?')"
      >
        ¿Cómo usar la aplicación?
      </button>
      <button
        class="btn btn-outline-primary"
        onclick="handleQuestion('Problemas con API')"
      >
        Problemas con API
      </button>
      <button
        class="btn btn-outline-primary"
        onclick="handleQuestion('Soporte')"
      >
        Soporte
      </button>
    </div>
    <div class="chatbot-messages" id="chatbotMessages"></div>
    <div class="chatbot-input">
      <input
        type="text"
        id="chatbotInput"
        placeholder="Escribe un mensaje..."
      />
      <button onclick="sendMessage()">Enviar</button>
    </div>
  </div>
  <img
    class="chatbot-toggle"
    id="chatbotToggle"
    onclick="toggleChatbot()"
    src="{% static 'img/clipgen.ai logo.png' %}"
    alt="Chat Icon"
  />
  <!-- CHATBOT -->
</section>
{% endblock %}
