<!-- register.html -->
{% extends "main/base.html" %}
{% block title %}Registro{% endblock %}
{% block content %}
<div class="register-container">
  <span id="close-modal-register" onclick="showRegister()" ><i class="fa-solid fa-xmark"></i></span>
  <form method="POST">

    <h2>Crear cuenta</h2>
    <input type="text" name="username" placeholder="Nombre de usuario">
    <input type="email" name="email" placeholder="Correo electrónico">
    <input type="password" name="password" placeholder="Contraseña">
    <input type="password" name="password2" placeholder="Repetir contraseña">
    <button class="submit-button" type="submit">Registrarse</button>
  </form>
  <div><p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p></div>
</div>
{% endblock %}
