{% extends "main/base.html" %} {% load static %} {% block title %}Sobre
Clipgen.ai{% endblock %} {% block content %}
<section class="sobre-section">
  <!-- HERO SECTION -->
  <section class="hero">
    <div id="content-hero">
      <span id="title-hero" class="animate__animated animate__backInDown">
        Descubre la verdadera <strong>automatizacion</strong> de Youtube.
      </span>
      <h3 id="foot-hero" class="animate__animated animate__fadeIn">
        crea canales y vídeos sin límites desde cualquier lugar sin gastar una
        fortuna en editores caros y lentos.
      </h3>
    </div>
    <a id="link-hero" href="/index" class="animate__animated animate__bounce"
      >Prueba ClipgenAI</a
    >
  </section>
  <!-- HERO SECTION -->

  <!-- CARRUSEL videos SECTION -->
  <section id="video-layout">
    <h3>Crea videos asombrosos</h3>
    <div class="video-container">
      <div class="sub-container-video animate__animated">
        <!-- Video 1 -->
      <div class="video-wrapper video1">
        <!-- poster="{% static 'img/video-layout-imgs/poster1.png' %}" -->
        <video
          class="video"
          muted
          preload="metadata"
          onmouseover="this.play()"
          onmouseout="this.pause()"
        >
          <source
            src="https://videoslandingclipgen.s3.us-east-2.amazonaws.com/cats+subtitulo+blanco+y+verde+ingles+abajo.mp4"
            type="video/mp4"
          />
          Tu navegador no soporta el video.
        </video>
        <button class="sound-toggle" onclick="toggleSound(this)">🔇</button>
      </div>
      <!-- Video 2 -->
      <div class="video-wrapper video2">
        <!-- poster="{% static 'img/video-layout-imgs/poster2.png' %}" -->
        <video
          class="video"
          muted
          preload="metadata"
          onmouseover="this.play()"
          onmouseout="this.pause()"
        >
          <source
            src="https://videoslandingclipgen.s3.us-east-2.amazonaws.com/clipgenai+solo+video+ingles.mp4"
            type="video/mp4"
          />
          Tu navegador no soporta el video.
        </video>
        <button class="sound-toggle" onclick="toggleSound(this)">🔇</button>
      </div>
      </div>
      <div class="sub-container-video animate__animated">
        <!-- Video 3 -->
      <div class="video-wrapper video3">
        <!-- poster="{% static 'img/video-layout-imgs/poster3.png' %}" -->
        <video
          class="video"
          muted
          preload="metadata"
          onmouseover="this.play()"
          onmouseout="this.pause()"
        >
          <source
            src="https://videoslandingclipgen.s3.us-east-2.amazonaws.com/jesus+ingles+ok.mp4"
            type="video/mp4"
          />
          Tu navegador no soporta el video.
        </video>
        <button class="sound-toggle" onclick="toggleSound(this)">🔇</button>
      </div>
      <!-- Video 4 -->
      <div class="video-wrapper video4">
        <!-- poster="{% static 'img/video-layout-imgs/poster7.png' %}" -->
        <video
          class="video"
          muted
          preload="metadata"
          onmouseover="this.play()"
          onmouseout="this.pause()"
        >
          <source
            src="https://videoslandingclipgen.s3.us-east-2.amazonaws.com/video+para+subir+al+drive+hecho+.mov"
            type="video/mp4"
          />
          Tu navegador no soporta el video.
        </video>
        <button class="sound-toggle" onclick="toggleSound(this)">🔇</button>
      </div>
      </div>
      <div class="sub-container-video animate__animated">
        <!-- Video 5 -->
      <div class="video-wrapper video5">
        <!-- poster="{% static 'img/video-layout-imgs/poster6.png' %}" -->
        <video
          class="video"
          muted
          preload="metadata"
          onmouseover="this.play()"
          onmouseout="this.pause()"
        >
          <source
            src="https://videoslandingclipgen.s3.us-east-2.amazonaws.com/video+para+subir+drive+2.mov"
            type="video/mp4"
          />
          Tu navegador no soporta el video.
        </video>
        <button class="sound-toggle" onclick="toggleSound(this)">🔇</button>
      </div>
      <!-- Video 6 -->
      <div class="video-wrapper video6">
        <!-- poster="{% static 'img/video-layout-imgs/poster5.png' %}" -->
        <video
          class="video"
          muted
          preload="metadata"
          onmouseover="this.play()"
          onmouseout="this.pause()"
        >
          <source
            src="https://videoslandingclipgen.s3.us-east-2.amazonaws.com/video+subir+a+drive+3.mov"
            type="video/mp4"
          />
          Tu navegador no soporta el video.
        </video>
        <button class="sound-toggle" onclick="toggleSound(this)">🔇</button>
      </div>
      </div>
    </div>
  <button class="btn-prev" id="btn-prev-container">&#10094;</button>
  <button class="btn-next" id="btn-next-container">&#10095;</button>
  </section>
  <!-- CARRUSEL videos SECTION -->

  <!-- BENEFITS SECTION -->
  <section id="benefits" class="benefits">
    <div class="cards-benefits-container">
      <div class="card-benefit card-benefit-area1 animate__animated">
        <h3>Personalización</h3>
        <img
          width="96"
          height="96"
          src="https://img.icons8.com/bubbles/100/support.png"
          alt="support"
        />
        <p>
          Personaliza tus videos con una amplia variedad de plantillas y
          efectos.
        </p>

        <div class="container-start">
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
        </div>
      </div>
      <div class="card-benefit card-benefit-area2 animate__animated">
        <h3>Velocidad</h3>
        <img
          width="96"
          height="96"
          src="https://img.icons8.com/color/96/fast-download.png"
          alt="fast-download"
        />
        <p>Acelera tu produccion como nunca antes</p>
        <div class="container-start">
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
        </div>
      </div>
      <div class="card-benefit card-benefit-area3 animate__animated">
        <h3>Escalabilidad</h3>
        <img
          width="96"
          height="96"
          src="https://img.icons8.com/external-goofy-flat-kerismaker/96/external-Export-logistic-goofy-flat-kerismaker.png"
          alt="external-Export-logistic-goofy-flat-kerismaker"
        />
        <p>
          Crea tantos canales como quieras y aumenta tus ingresos de manera
          exponencial
        </p>
        <div class="container-start">
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
          <img
            width="36"
            height="36"
            src="https://img.icons8.com/fluency/50/star.png"
            alt="star"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- BENEFITS SECTION -->

  <!-- FEATURES SECTION-->
  <section id="features">
    <div class="feature-container">
      <div class="feature-text">
        <h3>Crea facilmente</h3>
        <p>
          Ingrese un guion y obtenga un video para su canal de inmediato.
        </p>
        <a href="#">Crear ahora</a>
      </div>

      <div class="features-images">
        <img
          src="{% static 'img/Features/button-generate.png' %}"
          class="button-photo"
          alt=""
        />
        <img
          src="{% static 'img/Features/feature-img1.webp' %}"
          class="img-video"
          alt=""
        />
      </div>
    </div>
    <div class="feature-container">
      <div class="feature-text">
        <h3>Tu historia, a tu manera</h3>
        <p>
         Ingrese su propio guion personalizado para la narracion de voz en off
          y ClipgenAI hara el resto.
        </p>
        <a href="#">Crear ahora</a>
      </div>
      <div class="features-images">
        <img
          src="{% static 'img/Features/button-generate.png' %}"
          class="button-photo"
          alt=""
        />
        <img
          src="{% static 'img/Features/feature-img3.webp' %}"
          class="img-video"
          alt=""
        />
      </div>
    </div>
    <div class="feature-container">
      <div class="feature-text">
        <h3>Crea vídeos inspiradores</h3>
        <p>
          Selecciona entre nuestras mas de 50 voces, suba sus propios archivos para crear un video unico
          y personalizado.
        </p>
        <a href="#">Crear ahora</a>
      </div>
      <div class="features-images">
        <!-- <img
          src="{% static 'img/Features/button-generate.png' %}"
          class="button-photo"
          alt=""
        /> -->
        <img
          src="{% static 'img/Features/feature-img2.webp' %}"
          class="img-video"
          alt=""
        />
      </div>
    </div>
  </section>
  <!-- FEATURES SECTION-->

  <!-- LAST SECTION -->
  <section id="last-section">
    <h3>El futuro de la creación de vídeos IA en video</h3>
    <a href="">Empieza ya</a>
  </section>
  <!-- LAST SECTION -->
</section>
{% endblock %}
