#alerts-modal {
  animation: fadeIn 0.5s forwards, fadeOut 0.5s forwards 2.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px) saturate(180%);
  -webkit-backdrop-filter: blur(3px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 5000;
  position: fixed;
  top: 60px;
  left: 0;
}

.alert-center {
  z-index: 5001;
  display: block;
  padding: 35px;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 1.3rem;
  font-family: "Kanit";
  opacity: 0;
}

.alert-danger {
  color: #ffffff;
  border: 5px solid red;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(158, 10, 10, 0.38);
}

.alert-success {
  color: #ffffff;
  border: 1px solid var(--greenFull3);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgb(10 158 17 / 38%);
}

.alert {
  animation: fadeIn 0.5s forwards, fadeOut 0.5s forwards 2.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.alert {
  display: none;
  padding: 15px;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
}

.alert.show {
  display: block;
}

/*pantalla de carga*/
#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.94);
  z-index: 9999;
}

.loader {
  transform: rotateZ(315deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 88px;
  height: 88px;
  color: #fff;
  position: relative;
}



.loader:before,
.loader:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 1s spin linear infinite;  filter: drop-shadow(1px 1p 5px var(--greenFull3));

}
.loader:after {
  color: var(--greenFull3);
  transform: rotateY(70deg);
  animation-delay: 0.4s;  filter: drop-shadow(1px 1p 5px var(--greenFull3));

}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotateZ(360deg);
  }
}

@keyframes rotateccw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes spin {
  0%,
  100% {
    box-shadow: 0.2em 0px 0 0px currentcolor;
  }
  12% {
    box-shadow: 0.2em 0.2em 0 0 currentcolor;
  }
  25% {
    box-shadow: 0 0.2em 0 0px currentcolor;
  }
  37% {
    box-shadow: -0.2em 0.2em 0 0 currentcolor;
  }
  50% {
    box-shadow: -0.2em 0 0 0 currentcolor;
  }
  62% {
    box-shadow: -0.2em -0.2em 0 0 currentcolor;
  }
  75% {
    box-shadow: 0px -0.2em 0 0 currentcolor;
  }
  87% {
    box-shadow: 0.2em -0.2em 0 0 currentcolor;
  }
}

/* .loader-circle-9 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  background: transparent;
  border: 3px solid red;
  border-radius: 50%;
  text-align: center;
  line-height: 90px;
  font-family: sans-serif;
  font-size: 12px;
  color: #00eaff;
  text-transform: uppercase;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.loader-circle-9:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid var(--greenFull3);
  border-right: 3px solid var(--greenFull1);
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}
.loader-circle-9 span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.loader-circle-9 span:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0db823;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #0db823;
}
@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
} */

@media (max-width: 468px) {
  .alert {
    font-size: 1rem;
  }
}
