/* BENEFITS SECTION */

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  padding: 100px 0;
}

.cards-benefits-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  gap: 10px;
}

.card-benefit {
  border: 1px solid var(--greenFull3);
  border-radius: 4px;
  padding: 25px;
  background: transparent;
  height: 370px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  position: relative;
}

.container-start {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: absolute;
  top: 65px;
  gap: 7px;
}

.card-benefit > h3 {
  font-family: var(--third);
  font-size: 22px;
  color: var(--greenFull3);
  text-align: center;
  position: absolute;
  top: -35px;
  padding: 20px;
  text-align: center;
  border: 1px solid var(--greenFull3);
  background-color: black;
  border-radius: 7px;
  font-weight: bolder;
  position: absolute;
  width: 200px;
  height: 80px;
}

.card-benefit > p {
  font-family: var(--main);
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: 500;
}

/* BENEFITS SECTION */
