/* BENEFITS SECTION */

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  background-color: black;
  padding: 100px 0;
}

.cards-benefits-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1.1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 17px 17px;
  grid-auto-flow: row;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "card-benefit-area1 card-benefit-area1 card-benefit-area2 card-benefit-area2"
    "card-benefit-area1 card-benefit-area1 card-benefit-area2 card-benefit-area2"
    ". card-benefit-area3 card-benefit-area3 ."
    ". card-benefit-area3 card-benefit-area3 .";
  position: relative;
}

.card-benefit-area1 {
  grid-area: card-benefit-area1;
}

.card-benefit-area2 {
  grid-area: card-benefit-area2;
}

.card-benefit-area3 {
  grid-area: card-benefit-area3;
}

.card-benefit {
  border: 1px solid var(--greenFull3);
  border-radius: 4px;
  padding: 25px;
  background: transparent;
  height: 370px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  position: relative;
  box-shadow: -5px -5px 10px 1px #051407;
}

.container-start {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: absolute;
  top: 55px;
  gap: 7px;
}

.card-benefit > h3 {
  font-family: var(--third);
  font-size: 22px;
  color: var(--greenFull3);
  text-align: center;
  position: absolute;
  top: -35px;
  padding: 20px;
  text-align: center;
  border: 1px solid var(--greenFull3);
  background-color: black;
  border-radius: 7px;
  font-weight: bolder;
  position: absolute;
  width: 200px;
  height: 80px;
}

.card-benefit > p {
  font-family: var(--main);
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: 500;
}

/* BENEFITS SECTION */
/* RESPONSIVES QUUERYS */
@media (max-width: 992px) {
  .cards-benefits-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 65px 0px;
    grid-template-areas:
      "card-benefit-area1 card-benefit-area2"
      "card-benefit-area3 card-benefit-area3";
    justify-items: center;
    align-items: center;
  }

  .card-benefit {
    width: 90%;
    gap: 35px;
  }
}
@media (max-width: 668px) {
  .cards-benefits-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "card-benefit-area1"
      "card-benefit-area2"
      "card-benefit-area3";
    justify-items: center;
    align-items: center;
  }
  .card-benefit {
    box-shadow: none;
    width: 90%;
    gap: 15px;
    height: 320px;
  }
}
/* PARA DISPOS MOVILES */

/* RESPONSIVES QUUERYS */
