/* DASHBOARD APP*/
#dashboard-section {
  width: 100%;
  position: relative;
  /* display: flex; */
  /* border: 10px solid pink; */
}

#options-subtitle-template,
#options-audio-template,
#more-options-upload,
#options-audio_GENERATE,
#options-subtitle_GENERATE {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  margin: 2rem auto;
  position: relative;
}

#personalFolderSectionManual,
#personalFolderSection,
#referenceLink,
#personalFolderManual {
  display: flex;
  flex-direction: column;
}
.block-form-modal-options {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  border-radius: 4px;
  position: relative;
  /* border: 1px solid yellow;
  * {
    border: 1px solid red;
  } */
}
.block-form-modal-options > .label-user-dashboard {
  font-family: var(--second);
}

.block-form-modal-options > .select-user-dashboard > option {
  border-radius: none;
}

.block-form-modal-options > .select-user-dashboard {
  border: none;
  border-bottom: 4px solid var(--borderInputs);
  border-radius: 0;
  padding: 0 0 8px 0;
}

.block-form-modal-options > .select-user-dashboard:focus {
  border: none;
  border-bottom: 4px solid var(--borderInputs);
  box-shadow: none;
  outline: none;
  box-shadow: none;
}

#banner-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}

#banner-top > img {
  width: 100%;
  height: 100px;
}

#more-options_GENERATE {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  padding: 25px;
}
#more-options_GENERATE > .block-form {
  font-size: 15px;
}

#modal-upload,
#modal_GENERATE {
  display: none;
  align-items: end;
  justify-content: center;
  position: fixed;
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5000;

  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-options h3 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 35px;
  font-family: var(--third);
  letter-spacing: 2px;
  color: var(--greenFull3);
  filter: drop-shadow(1px 1px 8px var(--greenFull3));
}

.modal-options {
  z-index: 4999;
  height: 90vh;
  width: 60vw;
  position: absolute;
  bottom: 30px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-modal-options {
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 8px 25px;
  border-radius: 4px;
  background-color: var(--greenFull3);
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s all;
  color: black;
}

.close-modal-options:hover {
  background-color: var(--greenFull2);
}

.close-modal-options > i {
  color: black;
}

#upload-script,
#your-videos,
#config,
/* #scriptSection, */
/* #imagesSection, */
/* #videoSection, */
#upload-form,
#generate-script {
  display: none;
  position: relative;
  /* * {
    border: 1px solid gold;
  } */
}

#config {
  flex-direction: column;
}

.open-content {
  display: flex;
}

/* BARRA DE CONTROL LATERAL */
#aside-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: white;
  height: 90vh;
  top: 60px;
  left: 0;
  z-index: 1000;
  padding: 0 10px;
  width: 70px;
  transition-duration: 0.4s;
  position: fixed;
  border-right: 1px solid var(--panel2);
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(0, 0, 0, 0);
}

#aside-buttons:hover {
  width: 250px;
}

.open-mobile-aside {
  display: none;
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 1.3rem;
  z-index: 99;
  color: var(--panel2);
}

#aside-buttons:hover .secondary-content {
  display: flex;
}

.secondary-content {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 15px;
  transition-duration: 0.4s;
  color: grey;
  font-family: var(--main);
  font-size: 15px;
  /* * {
      border: 1px solid gold;
    } */
  a {
    color: grey;
  }

  a:hover {
    color: var(--greenFull3);
  }
}

.secondary-content > a:nth-child(4) {
  cursor: text;
}

.secondary-content > a:nth-child(4):hover {
  color: grey;
}

.logos-redes {
  padding-top: 20px;
  border-top: 1px solid var(--blackPanel);
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: -100px;
}

.logos-redes > a {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  border: 1px solid transparent;
}

.filter-shadow {
  filter: drop-shadow(2px 4px 6px black);
}

.logos-redes > a:hover {
  background-color: var(--borderInputs);
  border: 1px solid var(--panel2);
}

.logos-redes > a > i {
  color: rgb(192, 192, 192);
  transform: scale(1.2);
}

.logos-redes > a:hover i {
  color: white;
  transform: scale(1.1);
}

.aside-button-instagram-styles {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 30px 10px 10px;
  color: black;
}
.aside-button-youtube-styles {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px 10px 10px 30px;
  color: black;
}

.links-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-family: var(--third);
}

/* .logo-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  border: 1px solid red;
  h1 {
    font-family: var(--main);
    font-size: 2rem;
    color: black;
    font-weight: bold;
  }

  img {
    width: 60px;
  }
} */

.button-tab {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: white;
  font-family: var(--main);
  transition: 0.4s;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.button-tab:hover {
  transition: 0.4s;
  background-color: var(--greenFull3);
  color: black;
}

.active {
  background-color: var(--panel2);
}

#icon-content-buttons-aside {
  color: white;
  filter: drop-shadow(1px 1px 3px black);
}

.buttons-content {
  width: 100%;
}

/* FIN BARRA DE CONTROL LATERAL */

#dashboard-content-generator {
  width: calc(100% - 70px);
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid orange; */
}

.form-user-dashboard {
  width: 80%;
  min-height: 100vh;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  border-radius: 5px;
  margin-bottom: 30px;
  /* border: 1px solid red; */
  /* * {
    border: 1px solid gold;
  }  */
}

#container-options-generate-scripts {
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  padding: 0 15px 15px 15px;
  border-radius: 5px;
  z-index: 4000;
  border: 1px solid gold;
}

#container-options-generate-scripts.expanded {
  max-height: 900px;
  background-color: var(--inputs);
}

#options-generate-scripts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0;
  width: 90%;
  margin: 0 auto;
}

#options-generate-scripts > span:nth-child(1) {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#options-generate-scripts > span:nth-child(3) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button-option-scripts {
  width: 200px;
  font-size: 20px;
  /* font-size: 15px; */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 10px 15px;
  border: 1px solid var(--borderInputs);
  cursor: pointer;
  position: relative;
  transition: 0.3s all;
  color: white;
}

.button-option-scripts:hover {
  background-color: var(--borderInputs);
  color: var(--greenFull2);
  box-shadow: 1px 1px 1px 1px var(--borderInputs);
}

.button-option-scripts > i {
  transition: 0.2s all;
}
.button-option-scripts:hover > i {
  transform: scale(1.1);
  filter: drop-shadow(2px 4px 6px black);
}

.button-option-scripts > p {
  font-size: 15px;
  font-family: var(--main);
  font-weight: bold;
}

.label-user-dashboard {
  font-family: var(--main);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.input-user-dashboard {
  padding: 10px 5px;
  background-color: var(--inputs);
  border: 1px solid var(--borderInputs);
  font-family: var(--second);
  color: white;
  border-radius: 4px;
  font-size: 18px;
}

.input-user-dashboard:focus {
  outline: none;
}
/* 
.input-user-dashboard::placeholder{
  font-size: ;
} */

input[type="file"] {
  border-style: dotted;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  transition: 0.5s all;
}

input[type="file"]:hover {
  background-color: var(--greenFull3);
  color: black;
}

input[type="file"]::after {
  content: "";
}

input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.select-user-dashboard {
  font-family: var(--main);
  font-weight: bold;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  padding: 2px;
  border: 1px solid var(--panel2);
  font-size: 15px;
  font-family: var(--second);
}

.select-user-dashboard option {
  background-color: var(--panel2);
  font-family: var(--second);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: none;
}

.select-user-dashboard option:hover {
  background-color: var(--greenFull2);
}

.select-user-dashboard:focus {
  border: 1px solid var(--blueBtns);
}

.dashboard-content-forms {
  width: 100%;
  height: 90vh;
}

.block-form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 4px;
  position: relative;
}

#inputManualScript {
  background-color: var(--inputs);
  border: 1px solid var(--borderInputs);
  padding: 20px 12px;
  border-radius: 4px;
  color: white;
  font-family: var(--second);
  font-weight: 500;
  font-size: 18px;
}

#inputManualScript:focus {
  border: 1px solid var(--borderInputs);
  outline: none;
}

#btn-upload-script {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
input[type="file"][webkitdirectory]::file-selector-button {
  background-color: var(--greenFull3);
  color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  border: none;
  font-family: var(--second);
}

input[type="file"][webkitdirectory]:hover::file-selector-button {
  background-color: var(--greenFull3);
  border: none;
}

/* BOTON DE SUGERIR TITULOS */

.suggest-tittle-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
}

.btn-outline-secondary {
  margin: 0 auto;
  border: 1px solid var(--borderInputs);
  border-radius: 4px;
  padding: 10px 0px;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: white;
  width: 100%;
  font-size: 15px;
  font-family: var(--third);
  font-weight: 300;
  transition: 0.5s all;
}

.btn-outline-secondary:hover {
  background-color: var(--borderInputs);
  box-shadow: 1px 1px 1px 1px var(--borderInputs);
  letter-spacing: 1px;
}

/* BOTON DE SUGERIR TITULOS */
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
.minutes-info {
  margin-top: 40px;
  border-top: 1px solid var(--inputs);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  padding: 12px;
}

.minutes-info-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
  margin-bottom: 4px;
  border-bottom: 1px solid var(--borderInputs);
  color: white;
}

.minutes-info-line > p {
  text-align: left;
  width: 170px;
  color: white;
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 25px;
  font-family: var(--main);
}

.minutes-info-line > strong {
  color: var(--greenFull2);
  font-weight: bolder;
  letter-spacing: 1px;
  font-size: 30px;
  font-family: var(--third);
}

/* BUTTON SAVE API KEY */
.btn-custom {
  width: 32%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 4px;
  /* border: 1px solid var(--greenFull3); */
  transition: 0.2s;
  position: relative;
  color: black;
  cursor: pointer;
  font-size: 15px;
  font-family: var(--main);
  font-weight: bold;
  position: relative;
  text-align: left;
  margin: 0 auto;
  display: flex;
  align-items: center;
  transition: 0.3s all;
  justify-content: center;
  background: linear-gradient(
    90deg,
    var(--greenFull3) 0%,
    var(--greenFull2) 59%,
    white 100%
  );
  border: none;
}

.btn-custom:hover {
  background: white;
}

.btn-custom > img {
  position: absolute;
  right: 15px;
  top: 5px;
  transition: 0.3s all;
}

.btn-custom:hover > img {
  transform: scale(1.3);
  filter: drop-shadow(1px 1px 10px white);
}
/* BUTTON SAVE API KEY */

/* CONFIG SECTION */

#config > h3 {
  font-family: var(--main);
  font-weight: bolder;
  letter-spacing: 2px;
  color: white;
  font-size: 35px;
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

#configForm,
#changeCredentialsForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin: 20px auto;
}

.btn-config {
  width: 100%;
  padding: 5px 20px;
  background-color: var(--greenFull3);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Inter";
  font-weight: 600;
  font-size: 1.2rem;
  text-align: right;
  margin-bottom: 20px;
  color: white;
}

.btn-config:hover {
  background-color: var(--greenFull1);
}

#content-change-credencials,
#content-config-apis {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: 0.8s all;
  width: 80%;
  background-color: transparent;
  border-radius: 4px;
}

.open-form-config {
  transition: 0.8s all;
  overflow-y: scroll;
  height: 60vh;
  width: 90%;
  padding: 60px;
  background-color: transparent;
  margin-bottom: 40px;
  /* border-left: 1px solid var(--borderInputs); */
  border: 1px solid var(--borderInputs);
  border-radius: 4px;
}

.close-form-config {
  transition: 1s all;
  height: 1px;
  width: 40%;
  border-radius: 5px;
  border-top: 1px solid var(--borderInputs);
  box-shadow: 1px 1px 3px 1px var(--panel2);
  overflow-y: hidden;
  background-color: transparent;
  padding: 0;
}

#btn-open-credencials,
#btn-open-config-api {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  color: white;
  border: 1px solid var(--borderInputs);
  background-color: transparent;
  transition: 0.6s all;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

/* #btn-open-credencials > i,
#btn-open-config-api > i {
  position: absolute;
  top: 8px;
  right: 5px;
} */

#btn-open-credencials:hover,
#btn-open-config-api:hover {
  background-color: var(--borderInputs);
}

.btn-cancel-plan {
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  transition: 0.2s;
  position: relative;
  color: white;
  cursor: pointer;
  font-family: Inter;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: left;
  padding: 5px 10px;
  position: relative;
  text-align: left;
  margin: 0 auto;
}

.btn-cancel-plan:hover {
  background-color: red;
}

.btn-cancel-panel {
  color: var(--greenFull3);
  font-weight: bold;
}
.btn-cancel-panel:hover {
  color: var(--greenFull1);
  background-color: black;
}

.btn-confirm-panel {
  font-weight: bold;
  color: rgb(255, 86, 86);
}

.btn-confirm-panel:hover {
  background-color: black;
  color: red;
}

/*cancelar plan*/
/* Panel de confirmación overlay */
.panel-cancel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(25px) saturate(180%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);
  background-color: rgba(13, 13, 13, 0.343);
  z-index: 9999;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.panel-cancel > a {
  position: absolute;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--main);
  font-weight: bold;
  font-size: 25px;
  -webkit-text-stroke: 2px black;
  color: white;
  font-size: 25px;
}

@keyframes glow {
  0% {
    border-top: 1px solid white;
  }
  25% {
    border-right: 1px solid white;
  }
  50% {
    border-bottom: 1px solid white;
  }
  75% {
    border-left: 1px solid white;
  }
  100% {
    border: 1px solid white;
  }
}

.animation-class {
  animation: glow 2s infinite alternate;
}

.panel-cancel > a > img {
  width: 70px;
  filter: drop-shadow(1px 1px 5px var(--greenFull3));
}

/* Contenido interno (caja negra) */
.panel-cancel-content {
  /* background-color: rgb(13, 13, 13); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 90vw;
  height: 80vh;
  padding: 20px;
  box-sizing: border-box;
  font-family: var(--main);
  text-align: center;
  overflow-y: auto;
}

.panel-cancel-content > div {
  width: 80%;
}
.panel-cancel-content > div > h2 {
  color: white;
  font-weight: bold;
  font-size: 28px;
  font-family: var(--main);
}
.panel-cancel-content > div > p {
  color: white;
  font-size: 16px;
  font-family: var(--second);
  text-align: center;
  width: 100%;
}

.panel-cancel-content > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 80%;
  margin: 0 auto;
}

.panel-cancel-content > form > label,
.panel-cancel-content > form > select,
.panel-cancel-content > form > select > option,
.panel-cancel-content > form > textarea {
  width: 100%;
  text-align: left;
  font-family: var(--main);
  border-radius: 5px;
  font-size: 20px;
}

.panel-cancel-content > form > select,
.panel-cancel-content > form > textarea {
  background-color: transparent;
  color: white;
  border-radius: 2px;
}

#motivo > option {
  color: black;
  background-color: white;
}

#motivo,
#comentarios,
#comentarios:focus,
#motivos:focus {
  border-radius: 5px;
  border: 1px solid white;
}

.panel-cancel-content > form > textarea {
  height: 100px;
}

.panel-cancel-content > form > select > option:hover {
  color: black;
}

/* Botones específicos */

.cancel-buttons-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 15px;
}

.cancel-buttons-div > button {
  border: none;
  background-color: rgba(34, 34, 34, 0.27);
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: var(--main);
  padding: 15px;
  cursor: pointer;
  border-radius: 4px;
}

/* CONFIG SECTION */

/* RESPONSIVES QUERYS */
@media (max-width: 968px) {
  #btn-upload-script {
    bottom: -55px;
    left: 10%;
    width: 80%;
    text-align: left;
  }

  .btn-custom {
    width: 60%;
  }

  #options-generate-scripts {
    padding: 5px 10px;
    margin-top: 55px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
      "button-area1 button-area2"
      "button-area3 button-area3";
    justify-items: center;
    align-items: center;
  }

  #options-generate-scripts:nth-child(2) {
    margin-top: 2px;
  }

  #options-subtitle-template,
  #options-audio-template,
  #more-options-upload,
  #options-audio_GENERATE,
  #options-subtitle_GENERATE {
    width: 90%;
    gap: 25px;
  }

  .close-modal-options {
    width: 60%;
  }

  #options-generate-scripts > span:nth-child(1) {
    border-radius: 0;
    border-top-left-radius: 4px;
  }
  #options-generate-scripts > span:nth-child(2) {
    border-radius: 0;
    border-top-right-radius: 4px;
  }
  #options-generate-scripts > span:nth-child(3) {
    border-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  .button-option-scripts {
    padding: 5px 15px;
    margin: 0;
    border-radius: 0;
    color: white;
    width: 100%;
  }

  .button-area1 {
    grid-area: button-area1;
  }
  .button-area2 {
    grid-area: button-area2;
  }
  .button-area3 {
    grid-area: button-area3;
  }

  #configForm,
  #changeCredentialsForm {
    width: 100%;
  }

  .label-user-dashboard {
    font-size: 1.3rem;
  }

  .input-user-dashboard {
    font-size: 1rem;
  }

  #config > h3 {
    font-size: 2rem;
    padding: 30px;
  }
}
@media (max-width: 668px) {
  .modal-options {
    width: 100vw;
    height: 101vh;
    border-radius: 0;
  }
  .btn-custom {
    width: 100%;
    text-align: left;
  }
  #dashboard-content-generator {
    width: 94%;
  }
  .block-form-modal-options {
    padding: 0;
  }
  #aside-buttons {
    width: 40px;
  }

  .form-user-dashboard {
    width: 100%;
    padding: 40px;
  }

  .buttons-content {
    display: none;
  }

  #aside-buttons:hover .buttons-content {
    display: block;
  }

  .open-mobile-aside {
    display: block;
    color: white;
  }

  #aside-buttons:hover .open-mobile-aside {
    display: none;
  }

  .minutes-info-line > p,
  .minutes-info-line > strong {
    font-size: 1rem;
  }
}

@media (max-width: 468px) {
  .suggest-tittle-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #options-generate-scripts {
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2px;
    grid-template-areas:
      "button-area1"
      "button-area2"
      "button-area3";
  }
}
/* RESPONSIVES QUERYS */
