/* DASHBOARD APP*/
#dashboard-section {
  position: relative;
  display: flex;
  justify-content: end;
}

/* CONTAINER DE APP Y CONTENIDO ITERABLE */
#container-app {
  transition-duration: 0.4s;
  width: 100%;

  /* border: 1px solid gold;
    *{border:1px solid green;} */
}
/* CONTAINER DE APP Y CONTENIDO ITERABLE */

#upload-script,
#your-videos,
#config,
#scriptSection,
#imagesSection,
#videoSection {
  display: none;
}

.open-content {
  display: flex;
}

/* BARRA DE CONTROL LATERAL */
#aside-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgb(37, 37, 37);
  color: white;
  height: 90vh;
  top: 60px;
  left: 0;
  z-index: 1000;
  padding: 0 10px;
  width: 70px;
  transition-duration: 0.4s;
  position: fixed;
  border-right: 1px solid var(--blackPanel);

  /* * {
      border: 1px solid red;
    } */
}

#aside-buttons:hover {
  width: 250px;
}
#aside-buttons:hover .secondary-content {
  display: flex;
}

.secondary-content {
  position: absolute;
  bottom: 20px;
  width: 200px;
  display: none;
  flex-direction: column;
  gap: 15px;
  transition-duration: 0.4s;
  color: grey;
  font-family: var(--main);
  font-size: 15px;
  /* * {
      border: 1px solid gold;
    } */
  a {
    color: grey;
  }

  a:hover {
    color: var(--greenFull3);
  }
}

.secondary-content > a:nth-child(4) {
  cursor: text;
}

.secondary-content > a:nth-child(4):hover {
  color: grey;
}

.logos-redes {
  padding-top: 20px;
  border-top: 1px solid var(--blackPanel);
  display: flex;
  justify-content: space-evenly;
}

.secondary-content > .logos-redes > a > span {
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
}

.secondary-content > .logos-redes > a > span:hover {
  background-color: var(--blackPanel);
  color: var(--greenFull3);
}

.links-secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo-dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;

  h1 {
    font-family: var(--main);
    font-size: 2rem;
    color: black;
    font-weight: bold;
  }

  img {
    width: 60px;
  }
}

.button-tab {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: transparent;
  color: grey;
  font-family: var(--main);
  transition: 0.4s;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
}

.button-tab:hover {
  transition: 0.4s;
  /* background-color: rgb(49, 49, 49); */
  background-color: var(--greenFull3);
  color: black;
}

.active {
  background-color: var(--blackPanel);
}

#icon-content-buttons-aside {
  color: white;
}

.buttons-content {
  width: 100%;
}

/* BARRA DE CONTROL LATERAL */

#dashboard-content-generator {
  width: calc(100% - 70px);
}

#generateForm {
  position: relative;
}

.form-user-dashboard {
  background-color: transparent;
  width: 100%;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* *{border: 1px solid red;} */
}

.label-user-dashboard {
  font-family: var(--main);
  color: var(--greenFull3);
  font-weight: bold;
  font-size: 25px;
}

.input-user-dashboard {
  padding: 10px 5px;
  background-color: transparent;
  border: 1px solid var(--blackPanel);
  font-family: var(--second);
  color: white;
  border-radius: 4px;
}

.input-user-dashboard:focus {
  border: 1px solid white;
}

input[type="file"] {
  border-style: dotted;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  transition: 0.5s all;
}

input[type="file"]:hover {
  background-color: var(--greenFull3);
  color: black;
}

input[type="file"]::after {
  content: "";
}

input[type="file"]::-webkit-file-upload-button {
  display: none;
}

.select-user-dashboard {
  font-family: var(--main);
  font-weight: bold;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  padding: 10px 5px;
  border: 1px solid var(--blackPanel);
}

.select-user-dashboard option {
  background-color: var(--blackPanel);
  font-family: var(--second);
  color: white;
  font-weight: bold;
}

.select-user-dashboard:focus {
  border: 1px solid var(--greenFull2);
}

.dashboard-content-forms {
  width: 100%;
}

.form-user-dashboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.block-form {
  border: 1px dotted rgb(43, 43, 43);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
  border-radius: 4px;
}

input[type="file"][webkitdirectory]::file-selector-button {
  background-color: var(--greenFull3);
  color: black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  border: none;
  font-family: var(--second);
}

input[type="file"][webkitdirectory]:hover::file-selector-button {
  background-color: var(--greenFull3);
  border: none;
}

/* BOTON DE SUGERIR TITULOS */
.btn-outline-secondary {
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 10px 0px;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--blackPanel);
  width: 100%;
}
.text {
  font-weight: bold;
  color: white;
  font-family: var(--main);
  transition: all 450ms ease-in-out;
}

/* .text:hover {
    color: white;
  } */

.sparkle {
  fill: var(--greenFull3);
  transition: all 800ms ease;
}

.btn-outline-secondary:hover .sparkle {
  fill: white;
}

.btn-outline-secondary:hover {
  background-color: rgb(60, 60, 60);
}

#configForm,
#changeCredentialsForm,
#minute-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* BOTON DE SUGERIR TITULOS */
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
/* DASHBOARD APP*/
.minutes-info {
  display: flex;
  color: #ffffff;
  border: 1px solid var(--green);
  padding: 0 0 12px 0;
  border-radius: 4px;
}

/* BUTTON SAVE API KEY */
.btn-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
  border-radius: 4px;
  border: 1px solid var(--greenFull3);
  transition: 0.5s;
  animation: gradient_301 5s ease infinite;
  position: relative;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 25px;
  font-family: var(--main);
}

.btn-custom:hover {
  background-color: var(--greenFull3);
  color: black;
}

#container-stars {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(1rem);
  border-radius: 5rem;
}

#glow {
  position: absolute;
  display: flex;
  width: 32rem;
}

.circle {
  width: 100%;
  height: 100px;
  filter: blur(2rem);
  animation: pulse_3011 4s infinite;
  z-index: -1;
}

#stars {
  position: relative;
  background: transparent;
  width: 200rem;
  height: 200rem;
}

#stars::after {
  content: "";
  position: absolute;
  top: -10rem;
  left: -100rem;
  width: 100%;
  height: 100%;
  animation: animStarRotate 90s linear infinite;
}

#stars::after {
  background-image: radial-gradient(var(--greenFull3) 1px, transparent 1%);
  background-size: 50px 50px;
}

#stars::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 170%;
  height: 500%;
  animation: animStar 60s linear infinite;
}

#stars::before {
  background-size: 50px 50px;
  opacity: 0.5;
}

@keyframes animStar {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-135rem);
  }
}

@keyframes animStarRotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes gradient_301 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes pulse_3011 {
  0% {
    transform: scale(0.75);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.75);
  }
}
/* BUTTON SAVE API KEY */
